@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
  display: block;
}

[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

}

.new-zanata-body,
.new-zanata-html {
  height: 100%;
  margin: 0;
  padding: 0;
}

// TODO: Remove namespacing when old zanata removed
html.new-zanata,
.new-zanata-base {
  line-height: 1.5;
  color: $color-base-font;
  font-size: $base-font-size;
  font-family: $font-family-base;
  min-width: 20em;
}

body.new-zanata,
.new-zanata-base-inner {
  margin: 0;
  background: $color-body-background;
}

.new-zanata {
  main {
    padding-top: rhythm(1);
    @include breakpoint($gte-large) {
      padding-top: rhythm(2);
    }
  }
}
