/*

### Links

```
<a href="#">Link</a>
<br>
<a href="#" class=":hover">Link (Hover)</a>
<br>
<a href="#" class=":active">Link (Active)</a>
<br>
<a href="#" class=":focus">Link (Focus)</a>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

a {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  @include transition($default-transition);
}

// Use .\3A so style guide can reference pseudo classes
// e.g. <a href="#" class=":hover">Hover Button</a>

a:hover,
.\3A hover,
a:focus,
.\3A focus {
  color: $color-link-hover;
}

a:focus {
  @include box-shadow(0 0 0 4px rgba($color-link, .3));
  outline: 0;
  border-radius: $default-border-radius;
}

a:active:focus {
  @include box-shadow(none);
}

a:active,
.\3A active
a:hover,
.\3A hover {
  outline: 0;
}

a:active,
a.is-active,
.\3A active {
  color: $color-link-active;
}

}
