/*

### Lists

#### Unordered List

```
<ul>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>
```

#### Ordered List

```
<ol>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ol>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

ul,
ol {
  margin: rhythm(.5) 0;
  padding: 0 0 0 rhythm(1);
  li {
    @include adjust-font-size-to($base-font-size);
    list-style-type: disc;
  }
}

}

/*

#### Definition List

```
<dl>
  <dt>Term</dt>
  <dd>Definition</dd>
  <dt>Term</dt>
  <dd>Definition</dd>
  <dt>Term</dt>
  <dd>Definition</dd>
  <dt>Term</dt>
  <dd>Definition</dd>
</dl>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

dd {
  margin: 0 0 0 rhythm(1);
}

}
