// TODO: Remove namespacing when old zanata removed
.new-zanata {

audio,
canvas,
video {
  display: inline-block;
}

// Sass is having problems with this
// audio:not([controls]) {
//   display: none;
//   height: 0;
// }

img {
  max-width: 100%;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

figcaption {
  color: $grey;
}

}
