/*

### Miscellaneous

#### Horizontal Rule

```
<hr>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

hr {
  height: rhythm(1);
  width: 100%;
  border: 0;
  margin: rhythm(1) 0;
  background: transparent;
}

}
