  <footer role="contentinfo" class="js-footer">
    <div class="l__wrapper l--pad-top-1">
      <div class="l--pad-v-half d--top">
        <div class="g">
          <div class="g__item w--1-2">
            <ul class="list--horizontal txt--meta">
              <li><a href="http://zanata.org/terms">Terms</a></li>
              <li><a href="http://zanata.org/about">About</a></li>
              <li><a href="http://zanata.org/blog">Blog</a></li>
              <li><a href="http://zanata.org/help">Help</a></li>
              <li><a href="https://bugzilla.redhat.com/enter_bug.cgi?format=guided&product=Zanata">Report a problem</a></li>
            </ul>
          </div>
          <div class="g__item w--1-2 txt--align-right">
            <p class="txt--meta">Copyright &copy; 2008-2013 Red Hat</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{% if page.root %}{{ page.root }}{% endif %}assets/js/script.js"></script>
</body>
</html>
