<div class="off-canvas__outer new-zanata">
    <div class="off-canvas__target off-canvas--left" id="off-canvas--left" data-off-canvas="over">
      <header class="off-canvas__header">
        <a href="#off-canvas--left" class="off-canvas__close"><i class="i i--cross"></i><span class="is-invisible">Close</span></a>
      </header>
      <nav id="nav-main-side">
        <ul class="list--slat list--block-links">
          <li><a href="projects-old.html">Projects</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Languages</a></li>
          <li><a href="#">Glossary</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </div>
    <div class="off-canvas__inner">
      <header role="banner" class="header">
        {% include title.html %}
        <nav id="nav-main" class="header__main-nav">
          <a href="#nav-main" class="header__main-nav__toggle is-hidden--m-up header__main-nav__toggle"><i class="i i--huge i--list"></i><span class="is-invisible">Menu</span></a>
          <div class="header__main-nav__group">
            <form action="" class="form--search header__search js-form--search">
              <label class="form--search__label" for="form--search">Search Projects</label>
              <input type="text" class="form--search__input js-form--search__input" id="form--search" placeholder="Search projects">
              <button class="form--search__submit button--link js-form--search__button" type="submit"><i class="i i--search"></i></button>
            </form>
            <ul class="header__main-nav__menu">
              <li><a href="{% if page.root %}{{ page.root }}{% endif %}projects-old.html">Projects</a></li>
              <li><a href="{% if page.root %}{{ page.root }}{% endif %}groups">Groups</a></li>
              <li><a href="{% if page.root %}{{ page.root }}{% endif %}languages">Languages</a></li>
              <li><a href="{% if page.root %}{{ page.root }}{% endif %}languages">Glossary</a></li>
              <li><a href="{% if page.root %}{{ page.root }}{% endif %}help">Help</a></li>
            </ul>
          </div>
        </nav>
        <nav class="header__user-nav js-dropdown">
          <a href="#nav-user" class="header__user-nav__toggle js-dropdown__toggle">
            <div class="badge__container">
              <div class="bx--round header__avatar">
                <img src="http://www.gravatar.com/avatar/fd8eefdca68e2044a7680d7a0cf574d7?d=mm&amp;r=g&amp;s=72">
              </div>
              <span class="badge--br badge--highlight" title="4 Notifications">4</span>
            </div>
          </a>
          <ul id="nav-user" class="header__user-nav__menu js-dropdown__content">
            <li><a href="dashboard"><i class="i i--user"></i> Dashboard</a></li>
            <li><a href="#"><i class="i i--settings"></i> Settings</a></li>
            <li><a href="#"><i class="i i--user"></i> Admin</a></li>
            <li><a href="#"><i class="i i--cancel"></i> Logout</a></li>
          </ul>
        </nav>
      </header>
