<!DOCTYPE>
<!--[if lt IE 7]>      <html class="no-js new-zanata lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js new-zanata lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js new-zanata lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js new-zanata"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.layout == "home" %}
    <title>{{ site.name }}{% if site.sub-name %} | {{ site.sub-name }}{% endif %}</title>
  {% else %}
    <title>{{ page.title }} | {{ site.name }}</title>
  {% endif %}
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <!-- TODO: Add prefetches -->

  <!-- TODO: Insert logo link -->
  <link rel="logo" type="image/svg" href=""/>

  <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/style-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/assets/css/style.css">
  <!--<![endif]-->

  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="js/vendor/selectivizr-min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

  <!-- JavaScript -->
  <!-- TODO: Add modernizr here -->
  <!-- <script src="js/vendor/<filename>.js"></script> -->

</head>

<body class="new-zanata">

