//
// Main Stylesheet
// ---------------
// The is the only file rendered by Sass besides style-old-ie.scss, which is based of this.

/*

# Styleguide
*/

//
// Import vendors

@import "_includes/vendors";

/*

## Settings
*/

@import "settings";
@import "_components/placeholders"; // NOTE: This show examples of colors, typography etc.

//
// Import includes

@import "_includes/functions";
@import "_includes/mixins";

/*

## Elements
NOTE: No classes should go in element files

*/

@import "_elements/global";


@import "_elements/headings";
@import "_elements/text";
@import "_elements/links";
@import "_elements/lists";
@import "_elements/tables";
@import "_elements/forms";
@import "_elements/media";
@import "_elements/misc";

/*

## Global Components

These are components that can be utilised or are depended on by other components
*/


@import "_globals/l-layout";
@import "_globals/g-grid";
@import "_globals/w-widths"; // This needs to come after grids to beat specificity
@import "_globals/is-states";
@import "_globals/txt-text";
@import "_globals/d-divide";
@import "_globals/bg-background";
@import "_globals/bx-box";
@import "_globals/p-position";
@import "_globals/a-animations";
@import "_globals/h-height";

@import "_globals/i-icons";

/*

## Componenents
*/

// TODO: Remove namespacing when old zanata removed
@import "_components/headings";
@import "_components/lists";
@import "_components/links";
@import "_components/forms";
@import "_components/off-canvas";
@import "_components/tabs";
@import "_components/media";
@import "_components/progress-bar";
@import "_components/dropdown";
@import "_components/labels";
@import "_components/alerts";
@import "_components/cursors";
@import "_components/messages";
@import "_components/badges";
@import "_components/buttons";
@import "_components/reveal";
@import "_components/tooltip";
@import "_components/loader";
@import "_components/spinner";
@import "_components/modal";
@import "_components/stats";
@import "_components/panel";
@import "_components/panels";
@import "_components/auto-complete";
@import "_components/drag-drop";
// @import "_components/edit-field";
@import "_components/editor";
@import "_components/edit-item";
@import "_components/toolbar";

@import "_components/header";
@import "_components/header-banner";
