<!DOCTYPE>
<!--[if lt IE 7]>      <html class="no-js new-zanata lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js new-zanata lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js new-zanata lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js new-zanata"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <title></title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <!-- TODO: Add prefetches -->

  <!-- TODO: Insert logo link -->
  <link rel="logo" type="image/svg" href=""/>

  <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/style-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="assets/css/style.css">
  <!--<![endif]-->

  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="js/vendor/selectivizr-min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

  <!-- JavaScript -->
  <!-- TODO: Add modernizr here -->
  <!-- <script src="js/vendor/<filename>.js"></script> -->

</head>

<body class="new-zanata">



<div class="off-canvas__outer new-zanata">
    <div class="off-canvas__target off-canvas--left" id="off-canvas--left" data-off-canvas="over">
      <header class="off-canvas__header">
        <a href="#off-canvas--left" class="off-canvas__close"><i class="i i--cross"></i><span class="is-invisible">Close</span></a>
      </header>
      <nav id="nav-main-side">
        <ul class="list--slat list--block-links">
          <li><a href="projects-old.html">Projects</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Languages</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </div>
    <div class="off-canvas__inner">
      <header role="banner" class="header bg--pop-highest txt--s-align-center l--clearfix">
        <a href="#off-canvas--left" class="off-canvas__toggle--left is-hidden--m-up l--float-left"><i class="i i--huge i--list"></i><span class="is-invisible">Menu</span></a>
        
<h1 class="header__title heading--sub"><a href="/"><img class="header__site-logo" src="logo.svg"> Zanata</a></h1>


        <nav id="nav-main" class="header__menu is-hidden--s l--push-left-half l--float-left">
          <ul class="list--horizontal">
            <li class="l--push-left-half"><a href="projects-old.html">Projects</a></li>
            <li class="l--push-left-half"><a href="groups">Groups</a></li>
            <li class="l--push-left-half"><a href="languages">Languages</a></li>
            <li class="l--push-left-half"><a href="help">Help</a></li>
          </ul>
        </nav>
        <a href="#off-canvas--right" class="header__user-menu">
          <span class="badge__container header__avatar">
            <span class="bx--round">
              <img src="http://www.gravatar.com/avatar/fd8eefdca68e2044a7680d7a0cf574d7?d=mm&amp;r=g&amp;s=72">
            </span>
            <span class="badge--br" title="4 Notifications">4</span>
          </span>
        </a>
      </header>


      <main role="main">
        <div class="l__wrapper">
          <div class="g">
  <div class="g__item w--1-2 l--push-v-1">
    <div class="l--float-left w--2-6-s l--push-right-1">
      <div class="media--circle">
        <a href="/profile"><img src="http://placehold.it/115x115" alt="Luke Brooker"></a>
      </div>
    </div>
    <div class="txt--s-align-right">
      <h1 class="delta">Luke Brooker</h1>
      <ul class="list--no-bullets">
        <li>lukebrooker</li>
        <li>Brisbane, Australia</li>
        <li><a href="#">Settings <i aria-hidden="true" class="i i--cog"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="g">
  <div class="g__item l--push-v-1 w--1-2 w--4-10-h">
    <div class="l--push-left-half">
      <h2 class="heading--secondary">Your Activity</h2>
    </div>
    <ul class="list--no-bullets">
      <li class="l--pad-all-half bg--high--hover bg--faint">
        <div class="g">
          <div class="g__item w--2-3">
            Reviewed <strong>537 words</strong> to Japanese in <a href="#">Zanata v3.0</a>, finishing on <a href="#">string #867</a>
          </div>
          <div class="g__item w--1-3">
            <p class="txt--meta txt--align-right">10 mins ago <i aria-hidden="true" class="i i--eye"></i><span class="is-invisible">Reviewer</span></p>
          </div>
        </div>
      </li>
      <li class="l--pad-all-half bg--high--hover bg--faint">
        <div class="g">
          <div class="g__item w--2-3">
            Reviewed <strong>537 words</strong> to Japanese in <a href="#">Zanata v3.0</a>, finishing on <a href="#">string #867</a>
          </div>
          <div class="g__item w--1-3">
            <p class="txt--meta txt--align-right">10 mins ago <i class="i i--eye"></i></p>
          </div>
        </div>
      </li>
      <li class="l--pad-all-half bg--high--hover bg--faint">
        <div class="g">
          <div class="g__item w--2-3">
            Reviewed <strong>537 words</strong> to Japanese in <a href="#">Zanata v3.0</a>, finishing on <a href="#">string #867</a>
          </div>
          <div class="g__item w--1-3">
            <p class="txt--meta txt--align-right">10 mins ago <i class="i i--eye"></i></p>
          </div>
        </div>
      </li>
      <li class="l--pad-all-half bg--highest bg--high--hover bg--faint">
        <div class="g">
          <div class="g__item w--2-3">
            Reviewed <strong>537 words</strong> to Japanese in <a href="#">Zanata v3.0</a>, finishing on <a href="#">string #867</a>
          </div>
          <div class="g__item w--1-3">
            <p class="txt--meta txt--align-right">10 mins ago <i class="i i--eye"></i></p>
          </div>
        </div>
      </li>
      <li class="l--pad-all-half bg--high--hover bg--faint">
        <div class="g">
          <div class="g__item w--2-3">
            Reviewed <strong>537 words</strong> to Japanese in <a href="#">Zanata v3.0</a>, finishing on <a href="#">string #867</a>
          </div>
          <div class="g__item w--1-3">
            <p class="txt--meta txt--align-right">10 mins ago <i class="i i--eye"></i></p>
          </div>
        </div>
      </li>
      <p class="l--pad-all-half d--top txt--align-center txt--s-align-center"><a href="#">more activity</a></p>
    </ul>
  </div>
  <div class="g__item w--1-2 w--6-10-h">
    <div class="g">
      <div class="g__item w--1-2-h l--push-v-1">
        <div class="bg--pop-high">
          <div class="tabs--accent">
            <header class="bg--pop-higher l--pad-all-half">
              <div class="g--tight">
                <div class="g__item w--6-10 w--6-10-s">
                  <h2 class="delta heading--secondary">Maintained Projects</h2>
                </div>
                <div class="g__item w--4-10 w--4-10-s txt--align-right txt--s-align-right">
                  <span class="txt--meta">2 of 2 <i aria-hidden="true" class="i i--clipboard"></i></span>
                </div>
              </div>
            </header>
            <ul class="list--no-bullets">
              <li class="bg--faint l--pad-top-half bg--highest--hover progress-bar__expander dropdown__container">
                <div class="g--tight l--pad-h-half">
                  <div class="g__item w--3-4 w--3-4-s">
                    <h3 class="epsilon"><a href="#">Zanata</a></h3>
                  </div>
                  <div class="g__item w--1-4 w--1-4-s txt--align-right txt--s-align-right">
                    <ul class=" list--horizontal">
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--network"></i><span class="is-invisible">Translator</span></span>
                      </li>
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--pencil"></i><span class="is-invisible">Maintainer</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="l--pad-h-half l--pad-bottom-half">
                  <div class="dropdown" ng-class="{is-active: is-active}">
                    <div class="dropdown__toggle" href="#" ng-click="is-active=!is-active">
                      <i class="i i--arrow-down dropdown__toggle__icon"></i>
                      <ul class="dropdown__toggle__content list--horizontal ">
                        <li>
                          <a href="new-page.html" title="Version 3.0"><i aria-hidden="true" class="i i--star-2"></i><span class="is-invisible">Version</span> 3.0</a>
                        </li>
                        <li>
                          <a href="#" title="43 Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 43</a>
                        </li>
                        <li class="l--float-right">
                          <!-- <span class="txt--state-success">73%</span> -->
                        </li>
                      </ul>
                    </div>
                    <ul class="dropdown__content">
                      <li>
                        <ul class="list--horizontal">
                          <li>
                            <a href="#" title="Version"><i aria-hidden="true" class="i i--star-2"></i><span class="is-invisible">Version</span> 2.6</a>
                          </li>
                          <li>
                            <a href="#" title="Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 35</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown__divider"></li>
                      <li>
                        <span class="txt--meta">Last updated 2 days ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="progress-bar">
                  <span class="progress-bar__translated" title="73% Translated" style="width: 73%;">
                    <span class="is-invisible">Translated</span>
                  </span>
                  <span class="progress-bar__fuzzy" title="8% Fuzzy" style="width: 8%; margin-left: 73%;">
                    <span class="is-invisible">Fuzzy</span>
                  </span>
                  <span class="progress-bar__rejected" title="3% Rejected" style="width: 3%; margin-left: 81%;">
                    <span class="is-invisible">Rejected</span>
                  </span>
                  <span class="progress-bar__approved" title="52% Approved" style="width: 52%;">
                    <span class="is-invisible">Approved</span>
                  </span>
                </div>
              </li>
              <li class="bg--faint l--pad-top-half bg--highest--hover progress-bar__expander dropdown__container">
                <div class="g--tight l--pad-h-half">
                  <div class="g__item w--3-4 w--3-4-s">
                    <h3 class="epsilon"><a href="#">Zanata</a></h3>
                  </div>
                  <div class="g__item w--1-4 w--1-4-s txt--align-right txt--s-align-right">
                    <ul class=" list--horizontal">
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--network"></i><span class="is-invisible">Translator</span></span>
                      </li>
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--pencil"></i><span class="is-invisible">Maintainer</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="l--pad-h-half l--pad-bottom-half">
                  <div class="dropdown" ng-class="{is-active: is-active}">
                    <div class="dropdown__toggle" href="#" ng-click="is-active=!is-active">
                      <i class="i i--arrow-down dropdown__toggle__icon"></i>
                      <ul class="dropdown__toggle__content list--horizontal ">
                        <li>
                          <a href="new-page.html" title="Version 3.0"><i aria-hidden="true" class="i i--star-2"></i><span class="is-invisible">Version</span> 3.0</a>
                        </li>
                        <li>
                          <a href="#" title="43 Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 43</a>
                        </li>
                        <li class="l--float-right">
                          <span class="txt--meta">Read only</span>
                        </li>
                      </ul>
                    </div>
                    <ul class="dropdown__content">
                      <li>
                        <ul class="list--horizontal">
                          <li>
                            <a href="#" title="Version"><i aria-hidden="true" class="i i--star-2"></i><span class="is-invisible">Version</span> 2.6</a>
                          </li>
                          <li>
                            <a href="#" title="Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 35</a>
                          </li>
                          <li>
                            <a href="#" title="Languages"><i aria-hidden="true" class="i i--globe"></i><span class="is-invisible">Languages</span> 13</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown__divider"></li>
                      <li>
                        <span class="txt--meta">Last updated 2 days ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="progress-bar">
                  <span class="progress-bar__translated" title="73% Translated" style="width: 73%;">
                    <span class="is-invisible">Translated</span>
                  </span>
                  <span class="progress-bar__fuzzy" title="8% Fuzzy" style="width: 8%; margin-left: 73%;">
                    <span class="is-invisible">Fuzzy</span>
                  </span>
                  <span class="progress-bar__rejected" title="3% Rejected" style="width: 3%; margin-left: 81%;">
                    <span class="is-invisible">Rejected</span>
                  </span>
                  <span class="progress-bar__approved" title="52% Approved" style="width: 52%;">
                    <span class="is-invisible">Approved</span>
                  </span>
                </div>
              </li>
            </ul>
            <div class="l--pad-all-half">
              <div class="txt--align-center txt--meta">
                <p><em>You currently have no maintained projects.</em><br>
                <strong>Want more projects?</strong> Find an <a href="#">existing project</a> or <a href="#">create your own</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
      </main>

      <footer role="contentinfo" class="l--push-top-2">
        <div class="l__wrapper">
          <div class="l--pad-v-1 d--top">
            <div class="g">
              <div class="g__item w--1-2 l--push-bottom-quarter">
                <ul class="list--horizontal txt--meta">
                  <li><a href="http://zanata.org/terms">Terms</a></li>
                  <li><a href="http://zanata.org/about">About</a></li>
                  <li><a href="http://zanata.org/blog">Blog</a></li>
                  <li><a href="http://zanata.org/help">Help</a></li>
                  <li><a href="https://bugzilla.redhat.com/enter_bug.cgi?format=guided&product=Zanata">Report a problem</a></li>
                </ul>
              </div>
              <div class="g__item w--1-2 txt--align-right">
                <p class="txt--meta">Copyright &copy; 2008-2013 Red Hat</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>

