//
// Button Component - Default Settings
// -------------------------------------
// Change in _settings.scss

$button-prefix     : "button"                    !default;
$button-el         : #{$button-prefix}#{$el}     !default;
$button-mod        : #{$button-prefix}#{$mod}    !default;


/*

### Buttons

```
<p><a class="#{$button-prefix}">Button</a></p>
<p><a class="#{$button-mod}full">Button Full</a></p>
<p><a class="#{$button-mod}primary">Button Primary</a></p>
<p><a class="#{$button-mod}secondary">Button Secondary</a></p>
<p><a class="#{$button-mod}danger">Button Danger</a></p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

input[type="submit"],
button,
.#{$button-prefix} {
  padding: rhythm(.25) rhythm(.5);
  border: none;
  background-color: $white;
  color: tint($color-base-font, 10%);
  font-weight: 600;
  @include inline-block;
  @include box-shadow($default-box-shadow);
  @include border-radius($default-border-radius);
  &:hover {
    background-color: $color-bg-lighter;
    color: $black;
  }
  &:active {
    background-color: shade($color-bg, 5%);
    @include box-shadow($default-box-shadow-inset);
  }
}

button[disabled],
input[type="submit"][disabled] {
  &:hover, &:active {
	background-color: $color-bg-lighter !important;
	color: tint($color-base-font, 10%) !important;
	@include box-shadow($default-box-shadow !important);
  }
}

.#{$button-mod}full {
  @extend .#{$button-prefix};
  display: block;
  width: 100%;
  text-align: center;
}

.#{$button-mod}primary {
  @extend .#{$button-prefix};
  @include box-shadow(0 1px 2px rgba($black, 0.3));
  background-color: $color-primary;
  color: $lightest-grey;
  &:hover {
    background-color: shade($color-primary, 5%);
    color: $white;
  }
  &:active {
    background-color: shade($color-primary, 20%);
    @include box-shadow(inset 0 1px 2px rgba($black,0.3));
  }
}

.#{$button-mod}secondary {
  @extend .#{$button-mod}primary;
  background-color: $color-secondary;
  &:hover {
    background-color: shade($color-secondary, 5%);
  }
  &:active {
    background-color: shade($color-secondary, 20%);
  }
}

.#{$button-mod}danger {
  @extend .#{$button-mod}primary;
  background-color: $color-danger;
  &:hover {
    background-color: shade($color-danger, 5%);
  }
  &:active {
    background-color: shade($color-danger, 20%);
  }
}

}
