/*

### Buttons

```
<p><a class="button">Button</a></p>
<p><a class="button--snug">Button Snug</a></p>
<p><a class="button--small">Button Small</a></p>
<p><a class="button--large">Button Large</a></p>
<p><a class="button--huge">Button Huge</a></p>
<p><a class="button--full">Button Full</a></p>
<p><a class="button--link">Button Link</a></p>
<p><a class="button--inline-right">Button Inline Right</a></p>
<p><a class="button--inline-left">Button Inline Left</a></p>
<p><a class="button--primary">Button Primary</a></p>
<p><a class="button--secondary">Button Secondary</a></p>
<p><a class="button--success">Button Success</a></p>
<p><a class="button--unsure">Button Unsure</a></p>
<p><a class="button--warning">Button Warning</a></p>
<p><a class="button--danger">Button Danger</a></p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

input[type="submit"],
button,
.button {
  @extend .is-transition;
  @include inline-block;
  @include box-shadow(inset 0 -1px 0 rgba($color-secondary, .09));
  @include border-radius($default-border-radius);
  padding: rhythm(.125) rhythm(.5);
  border: none;
  border: 1px solid rgba($color-secondary, .15);
  background-color: shade($color-bg-lighter, 1%);
  color: tint($color-base-font, 10%);
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  &:hover,
  &:focus {
    background-color: $white;
    border-color: rgba($color-secondary, .25);
    @include box-shadow(inset 0 -2px 0 rgba($color-secondary, .17));
    color: $black;
    outline: none;
  }
  &:active,
  &.is-active {
    background-color: shade($color-bg, 3%);
    @include box-shadow(inset 0 2px 0 rgba($color-secondary, .17));
  }
}

.button[disbaled],
button[disabled],
input[type="submit"][disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  &:hover,
  &:focus,
  &:active,
  &.is-active {
  	background-color: inherit !important;
  	color: inherit !important;
  	@include box-shadow(inherit !important);
    pointer-events: none;
  }
}

.button--small {
  @extend .button;
  @include adjust-font-size-to(14px);
  padding: rhythm(.125, 14px) rhythm(.5, 14px);
}

.button--large {
  @extend .button;
  @include adjust-font-size-to(20px);
}

.button--huge {
  @extend .button;
  @include adjust-font-size-to(24px);
}

.button--snug {
  @extend .button;
  padding: rhythm(.25);
}

.button--full {
  @extend .button;
  display: block;
  width: 100%;
}

.button--link,
.button--link:hover,
.button--link:focus,
.button--link:active,
.button--link.is-active {
  @include box-shadow(none);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none;
  background: none;
  color: $color-link;
  font-weight: 400;
}

.button--link {
  &:hover,
  &:focus {
    color: $color-link-hover;
  }
  &:active,
  &.is-active {
    color: $color-link-active;
  }
}

.button--inline-right {
  @extend .button;
  @include border-radius(0 $default-border-radius $default-border-radius 0);
}

.button--inline-left {
  @extend .button;
  @include border-radius($default-border-radius 0 0 $default-border-radius);
}

.button--primary,
input.button--primary {
  @extend .button;
  border: 1px solid rgba($black, .15);
  @include box-shadow(inset 0 -1px 0 rgba($black, .125));
  background-color: shade($color-primary, 5%);
  color: $lightest-grey;
  &:hover,
  &:focus {
    @include box-shadow(inset 0 -2px 0 rgba($black, .2));
    border: 1px solid rgba($black, .2);
    background-color: $color-primary;
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: shade($color-primary, 20%);
    @include box-shadow(inset 0 2px 0 rgba($black,0.2));
  }
}

.button--secondary,
input.button--secondary, {
  @extend .button--primary;
  background-color: shade($color-secondary, 5%);
  &:hover,
  &:focus {
    background-color: $color-secondary;
  }
  &:active,
  &.is-active {
    background-color: shade($color-secondary, 20%);
  }
}

.button--success,
input.button--success, {
  @extend .button--primary;
  background-color: shade($color-success, 5%);
  &:hover,
  &:focus {
    background-color: $color-success;
  }
  &:active,
  &.is-active {
    background-color: shade($color-success, 20%);
  }
}

.button--unsure,
input.button--unsure, {
  @extend .button;
  background-color: shade($color-unsure, 5%);
  &:hover,
  &:focus {
    background-color: $color-unsure;
  }
  &:active,
  &.is-active {
    background-color: shade($color-unsure, 20%);
  }
}

.button--warning,
input.button--warning, {
  @extend .button--primary;
  background-color: shade($color-warning, 5%);
  &:hover,
  &:focus {
    background-color: $color-warning;
  }
  &:active,
  &.is-active {
    background-color: shade($color-warning, 20%);
  }
}

.button--danger,
input.button--danger, {
  @extend .button--primary;
  background-color: shade($color-danger, 5%);
  &:hover,
  &:focus {
    background-color: $color-danger;
  }
  &:active,
  &.is-active {
    background-color: shade($color-danger, 20%);
  }
}

// Specific Branded Buttons

%button--brand {
  background-repeat: no-repeat;
  @include background-size(contain);
}

.button--fedora {
  @extend %button--brand;
  background-image: url(../img/fedora-logo.svg);
}

.button--google {
  @extend %button--brand;
  background-image: url(../img/google-logo.svg);
}

.button--yahoo {
  @extend %button--brand;
  background-image: url(../img/yahoo-logo.svg);
}

.button--openid {
  @extend %button--brand;
  background-image: url(../img/openid-logo.svg);
}

}


/*

#### Button Group

```example
<div class="button--group">
  <button class="button">Button</button>
  <button class="button">Button</button>
  <button class="button">Button</button>
  <button class="button">Button</button>
  <button class="button--primary">Button</button>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {
  .button--group {
    &[disabled] {
      .button {
        @extend .button[disbaled];
      }
    }
    .button {
      position: relative;
      margin: 0;
      margin-left: rhythm(-.2);
      border-radius: 0;
      &:first-of-type {
        margin-left: 0;
        border-radius: $default-border-radius 0 0 $default-border-radius;
      }
      &:last-of-type {
        border-radius: 0 $default-border-radius $default-border-radius 0;
      }
    }
    input[type="radio"] {
      @include opacity(0);
      visibility: hidden;
      position: absolute;
      + .button {
        @include box-shadow(inset 0 -1px 0 rgba($color-secondary, .09));
        border: none;
        border: 1px solid rgba($color-secondary, .15);
        background-color: shade($color-bg-lighter, 1%);
        color: tint($color-base-font, 10%);
        &:hover,
        &:focus {
          background-color: $white;
          border-color: rgba($color-secondary, .25);
          @include box-shadow(inset 0 -2px 0 rgba($color-secondary, .17));
          color: $black;
          outline: none;
        }
      }
      &:checked {
        + .button {
          background-color: shade($color-bg, 3%);
          @include box-shadow(inset 0 2px 0 rgba($color-secondary, .17));
          cursor: default;
        }
        + .button--primary,
        + .button--secondary,
        + .button--success,
        + .button--warning,
        + .button--danger {
          color: $lightest-grey;
          @include box-shadow(inset 0 2px 0 rgba($black,0.2));
        }
        + .button--primary {
          background-color: $color-primary;
        }
        + .button--secondary {
          background-color: $color-secondary;
        }
        + .button--success {
          background-color: $color-success;
        }
        + .button--unsure {
          background-color: $color-unsure;
          color: $black;
        }
        + .button--warning {
          background-color: $color-warning;
        }
        + .button--danger {
          background-color: $color-danger;
        }
      }
    }
  }
}
