//
// Button Component - Default Settings
// -------------------------------------
// Change in _settings.scss

$button-prefix     : "button"                    !default;
$button-el         : button#{$el}     !default;
$button-mod        : button#{$mod}    !default;


/*

### Buttons

```
<p><a class="button">Button</a></p>
<p><a class="button--large">Button Large</a></p>
<p><a class="button--huge">Button Huge</a></p>
<p><a class="button--full">Button Full</a></p>
<p><a class="button--inline-right">Button Inline Right</a></p>
<p><a class="button--inline-left">Button Inline Left</a></p>
<p><a class="button--primary">Button Primary</a></p>
<p><a class="button--secondary">Button Secondary</a></p>
<p><a class="button--danger">Button Danger</a></p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

input[type="submit"],
button,
.button {
  padding: rhythm(.25) rhythm(.5);
  border: none;
  background-color: $white;
  color: tint($color-base-font, 10%);
  font-weight: 600;
  @include inline-block;
  @include box-shadow($default-box-shadow);
  @include border-radius($default-border-radius);
  &:focus {
    outline: 1px dotted $color-secondary;
  }
  &:hover,
  &:focus {
    background-color: $color-bg-light;
    color: $black;
    @include box-shadow(0 1px 1px rgba($black,0.1));
  }
  &:active,
  &.is-active {
    background-color: shade($color-bg, 5%);
    @include box-shadow($default-box-shadow-inset);
  }
}

button[disabled],
input[type="submit"][disabled] {
  &:hover,
  &:focus,
  &:active,
  &.is-active {
	background-color: $color-bg-lighter !important;
	color: tint($color-base-font, 10%) !important;
	@include box-shadow($default-box-shadow !important);
  }
}

.button--large {
  @include adjust-font-size-to(20px);
}

.button--huge {
  @include adjust-font-size-to(24px);
}

.button--full {
  @extend .button;
  display: block;
  width: 100%;
  text-align: center;
}

.button--inline-right {
  @include border-radius(0 $default-border-radius $default-border-radius 0);
}

.button--inline-left {
  @include border-radius($default-border-radius 0 0 $default-border-radius);
}

.button--primary,
input.button--primary {
  @extend .button;
  @include box-shadow(0 1px 2px rgba($black, 0.3));
  background-color: $color-primary;
  color: $lightest-grey;
  &:hover,
  &:focus {
    background-color: shade($color-primary, 5%);
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: shade($color-primary, 20%);
    @include box-shadow(inset 0 1px 2px rgba($black,0.3));
  }
}

.button--secondary,
input.button--secondary, {
  @extend .button--primary;
  background-color: $color-secondary;
  &:hover,
  &:focus {
    background-color: shade($color-secondary, 5%);
  }
  &:active,
  &.is-active {
    background-color: shade($color-secondary, 20%);
  }
}

.button--danger,
input.button--danger, {
  @extend .button--primary;
  background-color: $color-danger;
  &:hover,
  &:focus {
    background-color: shade($color-danger, 5%);
  }
  &:active,
  &.is-active {
    background-color: shade($color-danger, 20%);
  }
}

// Specific Branded Buttons

%button--brand {
  background-repeat: no-repeat;
  @include background-size(contain);
}

.button--fedora {
  @extend %button--brand;
  background-image: url(../img/fedora-logo.svg);
}

.button--google {
  @extend %button--brand;
  background-image: url(../img/google-logo.svg);
}

.button--yahoo {
  @extend %button--brand;
  background-image: url(../img/yahoo-logo.svg);
}

}
