/*

### Calendar

```example
<div class="w--1-2">
  <table class="cal cal--highlight">
    <thead class="cal__head">
      <tr>
        <th class="cal__heading" title="Sunday">S</th>
        <th class="cal__heading" title="Monday">M</th>
        <th class="cal__heading" title="Tuesday">T</th>
        <th class="cal__heading" title="Wednesday">W</th>
        <th class="cal__heading" title="Thursday">T</th>
        <th class="cal__heading" title="Friday">F</th>
        <th class="cal__heading" title="Saturday">S</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cal__week">
        <td class="cal__day">
        </td>
        <td class="cal__day">
          <div class="cal__date">1</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">2</div>
          <div class="cal__date-info" title="355 words">355</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">3</div>
          <div class="cal__date-info" title="125 words">125</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">4</div>
          <div class="cal__date-info" title="3546 words">3546</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">5</div>
          <div class="cal__date-info" title="23 words">23</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">6</div>
          <div class="cal__date-info" title="0 words">0</div>
        </td>
      </tr>
      <tr class="cal__week">
        <td class="cal__day">
          <div class="cal__date">7</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">8</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">9</div>
          <div class="cal__date-info" title="355 words">355</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">10</div>
          <div class="cal__date-info" title="125 words">125</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">11</div>
          <div class="cal__date-info" title="3546 words">3546</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">12</div>
          <div class="cal__date-info" title="23 words">23</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">13</div>
          <div class="cal__date-info" title="0 words">0</div>
        </td>
      </tr>
      <tr class="cal__week">
        <td class="cal__day">
          <div class="cal__date">14</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">15</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">16</div>
          <div class="cal__date-info" title="355 words">355</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">17</div>
          <div class="cal__date-info" title="125 words">125</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">18</div>
          <div class="cal__date-info" title="3546 words">3546</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">19</div>
          <div class="cal__date-info" title="23 words">23</div>
        </td>
        <td class="cal__day is-active">
          <div class="cal__date">20</div>
          <div class="cal__date-info" title="0 words">0</div>
        </td>
      </tr>
      <tr class="cal__week">
        <td class="cal__day">
          <div class="cal__date">21</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">22</div>
          <div class="cal__date-info" title="245 words">245</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">23</div>
          <div class="cal__date-info" title="355 words">355</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">24</div>
          <div class="cal__date-info" title="125 words">125</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">25</div>
          <div class="cal__date-info" title="3546 words">3546</div>
        </td>
        <td class="cal__day">
          <div class="cal__date">26</div>
          <div class="cal__date-info" title="23 words">23</div>
        </td>
        <td class="cal__day is-disabled">
          <div class="cal__date">27</div>
          <div class="cal__date-info"></div>
        </td>
      </tr>
      <tr class="cal__week">
        <td class="cal__day is-disabled">
          <div class="cal__date">28</div>
          <div class="cal__date-info"></div>
        </td>
        <td class="cal__day">
        </td>
        <td class="cal__day">
        </td>
        <td class="cal__day">
        </td>
        <td class="cal__day">
        </td>
        <td class="cal__day">
        </td>
        <td class="cal__day">
        </td>
      </tr>
    </tbody>
  </table>
</div>
```

*/

.new-zanata {

.cal {
  display: table;
  table-layout:fixed;
}

.cal__head {
  border: none; // To override default table settings
}

.cal__heading,
.cal__day {
  display: table-cell;
  width: 14.2857%;
  text-align: center;
  border: 2px solid transparent;
  background-clip: padding-box;
  padding: 0;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.cal__heading {
  color: $color-secondary;
  font-weight: 400;
}

.cal__day {
  background-color: tint($color-secondary, 85);
  color: $color-secondary;
  border-radius: rhythm(.5);
  overflow: hidden;
  &:focus,
  &:hover {
    .cal__date {
      background-color: tint($color-secondary, 55);
    }
    .cal__date-info {
      background-color: tint($color-secondary, 70);
    }
  }
  &:active,
  &.is-active {
    color: $white !important;
    .cal__date {
      background-color: $color-secondary;
    }
    .cal__date-info {
      background-color: tint($color-secondary, 30);
    }
  }
  &[disabled],
  &.is-disabled {
    pointer-events: none;
    opacity: 1;
    .cal__date,
    .cal__date-info {
      opacity: .8;
      cursor: default;
    }
  }
}

.cal__date,
.cal__date-info {
  cursor: pointer;
  transition: all .25s ease-out;
}

.cal__date {
  padding: rhythm(.0625, 14px) rhythm(.125, 14px);
  background-color: tint($color-secondary, 70);
  border-radius: rhythm(.5) rhythm(.5) 0 0;
  @include adjust-font-size-to(14px);
}

.cal__date-info {
  font-weight: 700;
  min-height: rhythm(1.25);
  padding: rhythm(.125);
  border-radius: 0 0 rhythm(.5) rhythm(.5);
  @include ellipsis;
}


.cal--highlight {
  .cal__heading {
    color: $color-highlight;
  }
  .cal__day {
    background-color: tint($color-highlight, 85);
    color: $color-highlight;
    &:focus,
    &:hover {
      .cal__date {
        background-color: tint($color-highlight, 55);
      }
      .cal__date-info {
        background-color: tint($color-highlight, 70);
      }
    }
    &:active,
    &.is-active {
      .cal__date {
        background-color: $color-highlight;
      }
      .cal__date-info {
        background-color: tint($color-highlight, 30);
      }
    }
  }

  .cal__date {
    background-color: tint($color-highlight, 70);
  }
}

.cal--success {
  .cal__heading {
    color: $color-success;
  }
  .cal__day {
    background-color: tint($color-success, 85);
    color: $color-success;
    &:focus,
    &:hover {
      .cal__date {
        background-color: tint($color-success, 55);
      }
      .cal__date-info {
        background-color: tint($color-success, 70);
      }
    }
    &:active,
    &.is-active {
      .cal__date {
        background-color: $color-success;
      }
      .cal__date-info {
        background-color: tint($color-success, 30);
      }
    }
  }

  .cal__date {
    background-color: tint($color-success, 70);
  }
}

.cal--unsure {
  .cal__heading {
    color: $color-unsure;
  }
  .cal__day {
    background-color: tint($color-unsure, 85);
    color: $color-unsure;
    &:focus,
    &:hover {
      .cal__date {
        background-color: tint($color-unsure, 55);
      }
      .cal__date-info {
        background-color: tint($color-unsure, 70);
      }
    }
    &:active,
    &.is-active {
      .cal__date {
        background-color: $color-unsure;
      }
      .cal__date-info {
        background-color: tint($color-unsure, 30);
      }
    }
  }

  .cal__date {
    background-color: tint($color-unsure, 70);
  }
}

}
