/*

### Drag and drop

```example
<div class="drag-drop l--push-all-1">
  <p class="txt--lead l--push-bottom-0"><i class="i i--left i--document"></i>Drag and drop or <a href="#">browse files</a></p>
  <small class="txt--meta">Maximum file size is 5mb</small>
</div>
```

*/

.drag-drop {
  border: 2px dashed $default-border-color;
  padding: rhythm(1);
  text-align: center;
  position: relative;
  &:after {
    @extend .is-transition;
    @include adjust-font-size-to(26px);
    position: absolute;
    top: 0;
    left: 0;
    padding: rhythm(1, 26px);
    width: 100%;
    height: 100%;
    background-color: $color-bg-lightest;
    color: $color-secondary-70;
    content: "Drop files";
    font-weight: 300;
    visibility: hidden;
    @include opacity(0);
  }
  &.is-active {
    border-color: $color-secondary;
    &:after {
      visibility: visible;
      @include opacity(1);
    }
  }
}
