

/*

### Dropdown

```
<div class="dropdown">
  <a class="dropdown__toggle" href="#"><i class="icon--arrow-down dropdown__toggle__icon"></i> Action</a>
  <ul class="dropdown__content" role="content" aria-labelledby="dropdownContent">
    <li><a tabindex="-1" href="#">Action </a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="dropdown__divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown__container {
  z-index: 1;
  position: relative;
  &.is-active {
    z-index: 2;
    @include opacity(1);
  }
}

.dropdown {
  @extend .is-transition-bounce;
  position: relative;
  z-index: 90;
  &.is-active {
    z-index: 901;
  }
}

.dropdown__toggle {
  @extend .is-transition;
  position: relative;
  z-index: 12;
  display: block;
  padding: rhythm(.125) rhythm(.375);
  padding-left: rhythm(1) !important;
  cursor: pointer;
  color: $color-link;
  min-height: rhythm(1);
  border: 1px solid transparent;
  &:hover {
    background-color: rgba($color-secondary, 0.03);
  }
  &:active {
    background-color: $white;
    border: 1px solid rgba($color-secondary, 0.15);
  }
  &:before {
    @extend .i:before;
    @extend .i--arrow-down:before;
    @include transition($default-transition);
    position: absolute;
    left: rhythm(.25);
  }
}

.dropdown__container.is-active .dropdown__toggle {
  @include transform3d(translateZ(0));
  color: $color-link-active;
}

.dropdown.is-active .dropdown__toggle {
  @extend .bg--pop-highest;
  border-bottom-width: 2px;
}

.dropdown:hover .dropdown__toggle {
  color: $color-link-hover;
}

.dropdown__toggle__icon {
  display: none;
}

.dropdown.is-active .dropdown__toggle:before {
  @include rotate(180deg);
}

.dropdown__content {
  @extend .bg--pop-higher;
  position: absolute !important;
  top: 100%;
  left: 0;
  z-index: 11;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  min-width: rhythm(4);
  .csstransforms3d & {
    @extend .is-transition-bounce;
    @include opacity(0);
    @include transform3d(translateY(-50%));
  }
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    &:hover {
      .no-touch & {
        background-color: $color-bg-light;
      }
    }
    > a {
      padding: rhythm(.25) rhythm(.25) rhythm(.25) rhythm(1.3);
      display: block;
      margin: 0;
      &.is-active {
        font-weight: 600;
      }
    }
    @include breakpoint($gte-medium) {
      padding-left: rhythm(1);
    }
  }
}

.dropdown__header {
  border-bottom: 1px solid $color-bg;
  text-transform: uppercase;
  background-color: $color-bg-lightest !important;
  padding: 0 rhythm(.5) !important;
}

.dropdown__divider {
  display: block;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
  background-color: $color-bg;
}

.dropdown.is-active .dropdown__content {
  visibility: visible;
  .csstransforms3d & {
    @include opacity(1);
    @include transform3d(translate3d(0,0,0));
  }
}

.dropdown--right {
  .dropdown__toggle__icon {
    right: 0;
  }
  .dropdown__content {
    left: auto;
    right: 0;
    float: right;
  }
}

// Alternates

.dropdown--inline {
  display: inline-block;
  // margin-left: rhythm(.125);
  .dropdown__content {
    width: auto;
    > li {
      padding: 0;
      white-space: nowrap;
      &:hover {
        background-color: transparent;
      }
      > a {
        padding: rhythm(.25) rhythm(.5);
        &:hover {
          .no-touch & {
            background-color: $color-link;
            color: $color-bg-lighter;
          }
        }
        &.txt--danger:hover {
          .no-touch & {
            background-color: $color-danger;
            color: $color-bg-lighter !important;
          }
        }
        &[disabled] {
          pointer-events: none;
          @include opacity(.5);
        }
      }
    }
  }
}

.dropdown--small {
  .dropdown__content {
    @include adjust-font-size-to(14px);
  }
}

}

/*

#### Dropdown Header

Used in panel headers to match the header layout

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--header {
  margin: 0;
  vertical-align: top;
  margin-right: -1px;
  .dropdown__toggle {
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: rhythm(.5, 14px);
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid transparent;
    line-height: rhythm(2, 14px);
    max-height: rhythm(2.05, 14px);
    // text-transform: uppercase;
    &:active {
      border-bottom: 2px solid $default-border-color;
      background-color: $color-bg-light;
    }
    i {
      line-height: rhythm(2, 14px);
      vertical-align: inherit;
    }
  }
  &.is-active .dropdown__toggle{
    border: none;
    border-left: $default-border;
    border-right: $default-border;
    border-bottom: 2px solid $default-border-color;
    background-color: $color-bg-light;
    &:hover {
      background-color: $color-bg-light;
    }
  }
  .dropdown__content {
    border-top: none;
  }
}

}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--single {
  .dropdown__toggle {
    @include font-size(16px);
    padding: 0;
    width: rhythm(1);
    text-align: center;
    &:before {
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .dropdown__content {
    margin-top: -1px;
  }
}

}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--tab {
  .dropdown__toggle {
    padding-top: rhythm(.5);
    padding-bottom: rhythm(.5);
    max-height: rhythm(2);
  }
}

}
