

/*

### Dropdown

```
<span class="dropdown dropdown--toggle-right js-dropdown">
  <a class="dropdown__toggle dropdown__toggle--large js-dropdown__toggle" href="#">Most active projects</a>
  <ul class="dropdown__content js-dropdown__content">
    <li><a class="is-active" href="#">Most active projects</a></li>
    <li><a href="#">Most starred projects</a></li>
    <li><a href="#">Projects requiring the most help</a></li>
  </ul>
</span>
<span class="dropdown js-dropdown">
  <a class="dropdown__toggle js-dropdown__toggle" href="#"><span>Most active projects</span></a>
  <ul class="dropdown__content js-dropdown__content">
    <li><a class="is-active" href="#">Most active projects</a></li>
    <li><a href="#">Most starred projects</a></li>
    <li><a href="#">Projects requiring the most help</a></li>
  </ul>
</span>
<span class="dropdown dropdown--inline dropdown--inline--initial dropdown--toggle-right js-dropdown">
  <a class="dropdown__toggle dropdown__toggle--large js-dropdown__toggle" href="#">Most active projects</a>
  <ul class="dropdown__content js-dropdown__content">
    <li><a class="is-active" href="#">Most active projects</a></li>
    <li><a href="#">Most starred projects</a></li>
    <li><a href="#">Projects requiring the most help</a></li>
  </ul>
</span>
<span class="dropdown dropdown--inline js-dropdown">
  <a class="dropdown__toggle dropdown__toggle--large js-dropdown__toggle" href="#">Most active projects</a>
  <ul class="dropdown__content js-dropdown__content">
    <li><a class="is-active" href="#">Most active projects</a></li>
    <li><a href="#">Most starred projects</a></li>
    <li><a href="#">Projects requiring the most help</a></li>
  </ul>
</span>
<div class="dropdown dropdown--small dropdown--inline dropdown--single js-dropdown">
  <a class="dropdown__toggle js-dropdown__toggle txt--meta" title="Document Options" href="#"><span class="is-invisible">Document Options</span></a>
  <ul class="dropdown__content js-dropdown__content">
    <li><a href="#"class="i__item--right">Translate online <i class="i i--translate i__item__icon"></i></a></li>
    <li><a href="#" class="i__item--right">Upload translation<i class="i i--import i__item__icon"></i></a></li>
    <li><a href="#" class="i__item--right">Download for translation<i class="i i--export i__item__icon"></i></a></li>
    <li><a href="#" class="i__item--right">Download for use<i class="i i--export i__item__icon"></i></a></li>
  </ul>
</div>
<div class="dropdown dropdown--header dropdown--small dropdown--right js-dropdown">
  <a class="dropdown__toggle js-dropdown__toggle" href="#" title="More Actions"><i class="i i--ellipsis" ></i></a>
  <ul class="dropdown__content js-dropdown__content" role="content" aria-labelledby="dropdownContent">
    <li><a href="#"class="i__item--right">Download All for Offline Translation<i class="i i--export i__item__icon"></i></a></li>
    <li><a href="#" class="i__item--right" title="Export Spanish Documents to translation memory">Export Spanish Documents to TMX<i class="i i--export i__item__icon"></i></a></li>
  </ul>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown__container {
  z-index: 1;
  position: relative;
  &.is-active {
    z-index: 2;
    @include opacity(1);
  }
}

.dropdown {
  @extend .is-transition-bounce;
  @include user-select(none);
  position: relative;
  z-index: 90;
  display: inline-block;
  width: 100%;
  &.is-active {
    z-index: 901;
  }
}

.dropdown__toggle {
  @extend .is-transition;
  position: relative;
  z-index: 12;
  display: inline-block;
  padding: rhythm(.25) rhythm(.375);
  padding-left: rhythm(1) !important;
  min-height: rhythm(1);
  border: 1px solid transparent;
  border-bottom-width: 2px;
  color: $color-link;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: rgba($color-secondary, 0.03);
  }
  &:active {
    background-color: $white;
    border: 1px solid rgba($color-secondary, 0.15);
  }
  &:after {
    @extend .i:before;
    @extend .i--arrow-down:before;
    @include transition($default-transition);
    position: absolute;
    left: rhythm(.25);
  }
}

.dropdown__toggle--large {
  @include adjust-font-size-to(24px, 1);
  padding: rhythm(.25, 24px) rhythm(.375, 24px);
  padding-left: rhythm(1, 24px) !important;
  &:after {
    font-size: emCalc(12px);
    left: rhythm(.125, 12px);
  }
  @include breakpoint($gte-medium) {
    @include adjust-font-size-to(28px, 1.25);
    padding: rhythm(.25, 28px) rhythm(.375, 28px);
    padding-left: rhythm(1, 28px) !important;
  }
}

.dropdown__container.is-active .dropdown__toggle {
  @include transform3d(translateZ(0));
  color: $color-link-active !important;
}

.dropdown.is-active .dropdown__toggle {
  @extend .bg--pop-highest;
  color: $color-link-active !important;
}

.dropdown:hover .dropdown__toggle {
  color: $color-link-hover;
}

.dropdown__toggle__icon {
  display: none;
}

.dropdown.is-active .dropdown__toggle:after {
  @include rotate(180deg);
}

.dropdown__content {
  @extend .bg--pop-higher;
  position: absolute !important;
  top: 100%;
  left: 0;
  z-index: 11;
  visibility: hidden;
  margin: 0;
  padding: 0;
  float: left;
  min-width: 100%;
  .csstransforms3d & {
    @extend .is-transition-bounce;
    @include opacity(0);
    @include transform3d(translateY(-50%));
  }
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: rhythm(.75);
    .i__item__icon {
      line-height: rhythm(.75);
    }
    > a {
      padding: rhythm(.375);
      display: block;
      margin: 0;
      &.is-active {
        font-weight: 600;
      }
      &:hover {
        .no-touch & {
          background-color: $color-link;
          color: $color-bg-lighter;
        }
      }
      &.txt--danger:hover {
        .no-touch & {
          background-color: $color-danger;
          color: $color-bg-lighter !important;
        }
      }
      &[disabled] {
        pointer-events: none;
        @include opacity(.5);
      }
    }
  }
}

.dropdown__content--full {
  width: 100% !important;
}

.dropdown__header {
  border-bottom: 1px solid $color-bg;
  text-transform: uppercase;
  background-color: $color-bg-lightest !important;
  padding: 0 rhythm(.5) !important;
  width: auto;
}

.dropdown__divider {
  display: block;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
  background-color: $color-bg;
}

.dropdown.is-active .dropdown__content {
  visibility: visible;
  .csstransforms3d & {
    @include opacity(1);
    @include transform3d(translate3d(0,0,0));
  }
}

.dropdown--right {
  .dropdown__toggle__icon {
    right: 0;
  }
  .dropdown__content {
    left: auto;
    right: 0;
    float: right;
  }
}

// Alternates

.dropdown--inline {
  display: inline-block;
  width: auto;
  .dropdown__toggle:after {
    display: inline-block;
  }
  .dropdown__content {
    width: auto;
    min-width: auto;
  }
}

.dropdown--inline--initial {
  position: relative;
  margin-left: rhythm(-.375);
}


// TODO: Make this a complete small module
// replace current class with txt--mini on .dropdown__content
.dropdown--small {
  .dropdown__content {
    @include adjust-font-size-to(14px);
  }
}

}

/*

#### Dropdown Header

Used in panel headers to match the header layout

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--header {
  margin: 0;
  vertical-align: top;
  margin-right: -1px;
  display: inline-block;
  width: auto;
  .dropdown__toggle {
    @include adjust-font-size-to(14px);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: rhythm(.5, 14px);
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid transparent;
    line-height: rhythm(2, 14px);
    max-height: rhythm(2.05, 14px);
    &:active {
      border-bottom: 2px solid $default-border-color;
      background-color: $color-bg-light;
    }
    &:after,
    i {
      line-height: rhythm(2, 14px);
      vertical-align: inherit;
    }
  }
  &.is-active .dropdown__toggle{
    border: none;
    border-left: $default-border;
    border-right: $default-border;
    border-bottom: 2px solid $default-border-color;
    background-color: $color-bg-light;
    &:hover {
      background-color: $color-bg-light;
    }
  }
  .dropdown__content {
    width: auto;
    border-top: none;
    margin-top: 1px;
    > li {
      padding: 0;
      > a {
        padding: rhythm(.375) rhythm(.5);
      }
    }
  }
}

}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--single {
  .dropdown__toggle {
    @include font-size(16px);
    padding: 0;
    width: rhythm(1);
    height: rhythm(1);
    text-align: center;
    &:after {
      left: rhythm(.2);
      line-height: rhythm(1);
    }
  }
  .dropdown__content {
    margin-top: -1px;
    width: auto;
    min-width: 0;
    > li {
      padding: 0;
    }
  }
  &.is-active {
    .dropdown__toggle {
      &:after {
        left: rhythm(.25);
      }
    }
  }
}

}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--tab {
  .dropdown__toggle {
    padding-top: rhythm(.5);
    padding-bottom: rhythm(.5);
    max-height: rhythm(2);
  }
}

}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.dropdown--toggle-right {
  .dropdown__toggle {
    padding-left: rhythm(.375) !important;
    padding-right: rhythm(1) !important;
    &:after {
      left: auto !important;
      right: rhythm(.25) !important;
    }
  }
  .dropdown__toggle--large {
    padding-left: rhythm(.375, 24px) !important;
    padding-right: rhythm(1, 24px) !important;
    &:after {
      left: auto !important;
      right: rhythm(.125, 12px) !important;
    }
    @include breakpoint($gte-medium) {
      padding-left: rhythm(.375, 28px) !important;
      padding-right: rhythm(1.125, 28px) !important;
    }
  }
}

}
