// TODO: Remove namespacing when old zanata removed
.new-zanata {

.edit-item {
  @extend .l--cf-of;
  @extend .is-transition;
  position: relative;
  margin: 0;
  padding: 0;
  @include user-select(none);
  &:hover {
    // background-color: $color-bg-light;
    cursor: text;
  }
  &.is-focused {
    background-color: $color-bg-lighter;
  }
  &.is-unfocused {
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
  }
}

.edit-item__panel {
  list-style: none;
  &:hover {
    cursor: text;
  }
  @include breakpoint($gte-medium) {
    float: left;
    width: 50%;
  }
}

.edit-item__source {

}

.edit-item__translation {
  @include breakpoint($gte-medium) {
    float: right;
  }
}

.edit-item__status {
  background-color: $color-neutral;
  text-indent: -9999px;
  height: rhythm(.25);
  width: 100%;
  @include breakpoint($gte-medium) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: rhythm(-.125);
    width: rhythm(.25);
    height: 100%;
  }
}

.edit-item__header,
.edit-item__footer {
  position: absolute;
  z-index: 2;
  padding-right: rhythm(.5);
  padding-left: rhythm(.5);
  border-top: $default-border;
  border-bottom: $default-border;
  background-color: $color-bg-lightest;
  height: rhythm(1);
  width: 50%;
  &:hover {
    cursor: default;
  }
}

.edit-item__header {
  top: rhythm(-.5);
}

.edit-item__footer {
  bottom: rhythm(-.5);
}

.edit-item__heading {
  font-size: emCalc(14px);
  line-height: rhythm(1, 14px, 2px);
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
}

// Modifiers

.edit-item--translated {
  .edit-item__status {
    background-color: $color-success;
  }
}

.edit-item--unsure {
  .edit-item__status {
    background-color: $color-unsure;
  }
}

.edit-item--highlight {
  .edit-item__status {
    background-color: $color-highlight;
  }
}

.edit-item--danger {
  .edit-item__status {
    background-color: $color-danger;
  }
}

.edit-item--warning {
  .edit-item__status {
    background-color: $color-warning;
  }
}

.edit-item__source--vertical {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 2;
  float: none;
  margin-bottom: rhythm(.5);
  width: 50%;
  background-color: $color-bg-lighter;
  .edit-item__header {
    width: 100%;
  }
}

}
