/*

### Custom Form Components

#### Form Errors

```example
<div class="form__item--error" >
  <label for="error">Error example</label>
  <input type="text" id="error" value="form error"/>
</div>

<div class="form__item--warning" >
  <label for="warning">Warning example</label>
  <input type="text" id="warning" value="form warning"/>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__item {
  margin-bottom: rhythm(.5);
}

%form__item--alert {
  margin-bottom: 0;
}

.form__item--error {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-danger !important;
  }
}

.form__item--warning {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-warning !important;
  }
}

}

/*

#### Form Password Show/Hide

Keep focus while showing and hiding a password field

```example
<div class="form__password js-form-password">
  <input id="password" class="js-form-password-input form__input" name="password" type="password">
  <a href="#" class="form__toggle js-form-password-toggle">Show</a>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__password {
  position: relative;
  .form__input {
    padding-right: rhythm(2);
  }
  .form__toggle {
    @include adjust-font-size-to(14px, 1.5);
    position: absolute;
    top: 0;
    right: rhythm(.5, 14px);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.form__list--full {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  label,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
  }
}

}
