/*

### Custom Form Components

#### Form Errors

```example
<div class="form__item--error" >
  <label for="error">Error example</label>
  <input type="text" id="error" value="form error"/>
</div>

<div class="form__item--warning" >
  <label for="warning">Warning example</label>
  <input type="text" id="warning" value="form warning"/>
</div>

<div class="form__item--radio-vertical">
  <input name="validation-1" id="validation-1-off" value="Off" type="radio">
  <label for="validation-1-off">Off</label>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__item {
  margin-bottom: rhythm(.5);
}

%form__item--alert {
  margin-bottom: 0;
}

.form__item--error {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-danger !important;
  }
}

.form__item--warning {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-warning !important;
  }
}

.form__item--radio-vertical {
  text-align: center;
  display: inline-block;
  .form__item__label,
  .form__item__input {
    margin: 0;
  }
  .form__item__label {
    display: block;
    padding: 0 rhythm(.25, 14px);
    @include adjust-font-size-to(14px);
  }
  .form__item__input {
    display: inline-block;
  }
}

}

/*

#### Form Checkbox & Radio

```example
<div class="form__checkbox">
  <input type="checkbox" id="form-checkbox-1" class="form__checkbox__input" name="form-checkbox" checked/>
  <label for="form-checkbox-1" class="form__checkbox__label">Checkbox Label</label>
  <span class="form__checkbox__item"></span>
</div>

<div class="form__checkbox form__checkbox--right">
  <input type="checkbox" id="form-checkbox-2" class="form__checkbox__input" name="form-checkbox"/>
  <label for="form-checkbox-2" class="form__checkbox__label">Checkbox Label</label>
  <span class="form__checkbox__item"></span>
</div>
```

```example
<div class="form__radio">
  <input type="radio" id="form-radio-1" class="form__radio__input" name="form-radio" checked/>
  <label for="form-radio-1" class="form__radio__label">Radio Label</label>
  <span class="form__radio__item"></span>
</div>

<div class="form__radio form__radio--right">
  <input type="radio" id="form-radio-2" class="form__radio__input" name="form-radio"/>
  <label for="form-radio-2" class="form__radio__label">Radio Label</label>
  <span class="form__radio__item"></span>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__checkbox,
.form__radio {
  @extend .is-transition-fast;
  position: relative;
  padding-left: rhythm(1.125);
  cursor: pointer;
  &:hover {
    background-color: $color-bg-lightest;
  }
  &.is-focused {
    background-color: $color-bg;
  }
  &.is-checked {
    background-color: tint($color-primary-50, 60%);
  }
}

.form__checkbox__item,
.form__radio__item {
  position: absolute;
  top: 0;
  left: 0;
  &:before {
    @extend .is-transition-fast;
    position: absolute;
    top: .3em;
    left: .43em;
    width: 1em;
    height: 1em;
    border: 1px solid $color-secondary-50;
    content: "";
    @include box-shadow($default-box-shadow-inset);
    background-color: lighten($lightest-grey, 2%);
  }
  &.is-checked {
    &:before {
      border-color: $color-secondary;
    }
  }
}

.form__checkbox__item {
  &:before {
    border-radius: $default-border-radius;
  }
  &:after {
    @extend .i:before;
    @extend .i--checkmark:before;
    @extend .is-transition-fast;
    @include transform(scale(0.1, 0.1));
    @include opacity(0);
    @extend .i;
    position: absolute;
    top: .3em;
    left: .43em;
    color: $color-secondary;
  }
  &.is-checked {
    &:before {
      background-color: $white;
    }
    &:after {
      @include transform(scale(1, 1));
      @include opacity(1);
    }
  }
}

.form__radio__item {
  &:before {
    border-radius: 100px; // Makes it round
    top: .33em;
    left: .45em;
    @include box-shadow($default-box-shadow-inset);
    @include breakpoint($gte-huge) {
      top: .27em;
      width: 1.05em;
      height: 1.05em;
    }
  }
  &.is-checked {
    &:before {
      background-color: $color-secondary;
      @include background-image(radial-gradient(ellipse at center, $color-secondary 37%, $white 42%));
    }
  }
}

.form__checkbox__label,
.form__radio__label {
  display: block;
  margin: 0;
  cursor: inherit;
}

.form__checkbox__input,
.form__radio__input {
  @include opacity(0);
  position: absolute;
  height: 1px;
  width: 1px;
  left: -1px;
  // visibility: hidden;
  &:disabled {
    @include opacity(0);
    + .form__checkbox__label,
    + .form__radio__label {
      pointer-events: none;
      @include opacity(.5);
      cursor: default;
    }
  }
}

.form__checkbox--spaced,
.form__radio--spaced {
  .form__checkbox__item,
  .form__radio__item {
    top: rhythm(.25);
    left: rhythm(.125);
  }
}

.form__checkbox--heading {
  width: rhythm(1.5);
  height: rhythm(2);
  float: left;
  margin-right: rhythm(-.625);
  background-color: transparent !important;
  .form__checkbox__item,
  .form__radio__item {
    top: rhythm(.5);
    left: rhythm(.125);
  }
}

.form__checkbox--right,
.form__radio--right {

}

}

/*

#### Form search

```example
<form action="" class="form--search">
  <label class="form--search__label">Search Projects</label>
  <input type="text" class="form--search__input" placeholder="Search projects">
  <button class="form--search__submit" type="submit"><i class="i i--search"></i></button>
</form>
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form--search {
  position: relative;
  @include inline-block;
  &:before {
    @extend .is-transition;
    @extend .i;
    @extend .i--search:before;
    z-index: 11;
    position: absolute;
    left: rhythm(.25);
    top: rhythm(.5);
    line-height: rhythm(1);
    color: $color-secondary-50;
    pointer-events: none;
  }
  &.is-active {
    &:before {
      color: $color-secondary;
    }
  }
}

.form--search__label {
  @extend .is-invisible;
}

input.form--search__input {
  margin: 0;
  // padding-right: rhythm(1);
  padding-left: rhythm(1);
  height: rhythm(1.25);
  border-radius: $default-border-radius;
  &:hover {
    border-color: $color-secondary-50;
  }
}


.form--search .form--search__submit {
  position: absolute;
  right: rhythm(.25);
  top: rhythm(.5);
  color: tint($color-secondary, 60%);
  height: rhythm(1);
}

.form--search.is-active {
  .form--search__submit {
    color: $color-link;
    &:hover,
    &:focus {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }
  }
}

}

/*

#### Form Password Show/Hide

Keep focus while showing and hiding a password field

```example
<div class="form__password js-form-password">
  <input id="password" class="js-form-password-input form__input" name="password" type="password">
  <a href="#" class="form__toggle js-form-password-toggle">Show</a>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__password {
  position: relative;
  .form__input {
    padding-right: rhythm(2);
  }
  .form__toggle {
    @include adjust-font-size-to(14px, 1.5);
    position: absolute;
    top: 0;
    right: rhythm(.5, 14px);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.form__list--full {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  label,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
  }
}

}


/*

#### Form Inline

```example
<div class="form--inline l--push-bottom-1">
  <div class="form--inline__prefix">
    <button class="form--inline__addon">Submit</button>
  </div>
  <input type="text" class="form--inline__input" placeholder="Search projects">
</div>

<div class="form--inline">
  <input type="text" class="form--inline__input" placeholder="Search projects">
  <div class="form--inline__suffix">
    <button class="form--inline__addon button--primary">Submit</button>
  </div>
</div>
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form--inline {
  display: table !important;
  border-collapse: separate;
  position: relative;
  width: 100%;
}
.form--inline__input {
  margin: 0 !important;
  display: table-cell !important;
  width: 100% !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form--inline__prefix,
.form--inline__suffix {
  display: table-cell !important;
  width: 1%;
  .form--inline__addon {
    white-space: nowrap;
    display: block;
  }
}

.form--inline__prefix {
  .form--inline__addon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
  }
}

.form--inline__suffix {
  .form--inline__addon {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
  }
}

}

/*

#### Form Placeholder

```example
<input type="text" class="form__placeholder" value="Placeholder text">
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__placeholder {
  color: $color-secondary-50 !important;
  font-weight: 300 !important;
}

}

/*

#### Form Input Copyable

```example
<input type="text" class="form__input--copyable" value="Copy this text">
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

input.form__input--copyable {
  line-height: rhythm(1);
  height: rhythm(1);
  padding: rhythm(.125);
  margin: 0;
  background-color: $color-bg-light;
  border-color: transparent;
  @include box-shadow(none);
  color: $color-link;
  &:focus {
    color: $color-base-font;
  }
}

}
