/*

### Custom Form Components

#### Form Errors

```example
<div class="form__item--error" >
  <label for="error">Error example</label>
  <input type="text" id="error" value="form error"/>
</div>

<div class="form__item--warning" >
  <label for="warning">Warning example</label>
  <input type="text" id="warning" value="form warning"/>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__item {
  margin-bottom: rhythm(.5);
}

%form__item--alert {
  margin-bottom: 0;
}

.form__item--error {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-danger !important;
  }
}

.form__item--warning {
  @extend .form__item;
  input,
  textarea {
    @extend %form__item--alert;
    border: 2px solid $color-warning !important;
  }
}

}

/*

#### Form search

```example
<form action="" class="form--search">
  <label class="form--search__label">Search Projects</label>
  <input type="text" class="form--search__input" placeholder="Search projects">
  <button class="form--search__submit" type="submit"><i class="i i--search"></i></button>
</form>
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form--search {
  position: relative;
  @include inline-block;
  &:before {
    @extend .is-transition;
    @extend .i;
    @extend .i--search:before;
    z-index: 11;
    position: absolute;
    left: rhythm(.25);
    top: rhythm(.5);
    line-height: rhythm(1);
    color: $color-secondary-50;
    pointer-events: none;
  }
  &.is-active {
    &:before {
      color: $color-secondary;
    }
  }
}

.form--search__label {
  @extend .is-invisible;
}

input.form--search__input {
  margin: 0;
  // padding-right: rhythm(1);
  padding-left: rhythm(1);
  height: rhythm(1.45);
  border-radius: $default-border-radius;
  &:hover {
    border-color: $color-secondary-50;
  }
}


.form--search .form--search__submit {
  position: absolute;
  right: rhythm(.25);
  top: rhythm(.5);
  color: tint($color-secondary, 60%);
  height: rhythm(1);
}

.form--search.is-active {
  .form--search__submit {
    color: $color-link;
    &:hover,
    &:focus {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }
  }
}

}

/*

#### Form Password Show/Hide

Keep focus while showing and hiding a password field

```example
<div class="form__password js-form-password">
  <input id="password" class="js-form-password-input form__input" name="password" type="password">
  <a href="#" class="form__toggle js-form-password-toggle">Show</a>
</div>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__password {
  position: relative;
  .form__input {
    padding-right: rhythm(2);
  }
  .form__toggle {
    @include adjust-font-size-to(14px, 1.5);
    position: absolute;
    top: 0;
    right: rhythm(.5, 14px);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.form__list--full {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  label,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
  }
}

}


/*

#### Form Inline

```example
<div class="form--inline l--push-bottom-1">
  <div class="form--inline__prefix">
    <button class="form--inline__addon">Submit</button>
  </div>
  <input type="text" class="form--inline__input" placeholder="Search projects">
</div>

<div class="form--inline">
  <input type="text" class="form--inline__input" placeholder="Search projects">
  <div class="form--inline__suffix">
    <button class="form--inline__addon button--primary">Submit</button>
  </div>
</div>
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form--inline {
  display: table !important;
  border-collapse: separate;
  position: relative;
  width: 100%;
}
.form--inline__input {
  margin: 0 !important;
  display: table-cell !important;
  width: 100% !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form--inline__prefix,
.form--inline__suffix {
  display: table-cell !important;
  width: 1%;
  .form--inline__addon {
    white-space: nowrap;
    display: block;
  }
}

.form--inline__prefix {
  .form--inline__addon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
  }
}

.form--inline__suffix {
  .form--inline__addon {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
  }
}

}

/*

#### Form Placeholder

```example
<input type="text" class="form__placeholder" value="Placeholder text">
```

*/


// TODO: Remove namespacing when old zanata removed
.new-zanata {

.form__placeholder {
  color: $color-secondary-50 !important;
  font-weight: 300 !important;
}

}
