/*

### Header

#### Site Logo

```

<header role="banner" class="accent__pop-more--large header">
  <div class="l__wrapper">
    <h1 class="gamma text--align-center heading--sub"><a href="/"><img src="../logo.svg"> Zanata</a></h1>
  </div>
</header>

```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.header {
  position: relative;
}

.header__title {
  @include adjust-font-size-to(28px, 2);
  padding: 0;
  margin: 0;
  min-height: rhythm(2, 28px);
  @include breakpoint($gte-medium) {
    margin: 0 0 0 rhythm(1,28px);
    float: left;
  }
  @include breakpoint($gte-large) {
    margin: 0 0 0 rhythm(2,28px);
  }
}

.header__site-logo {
  height: rhythm(1.25, 28px);
  margin-bottom: rhythm(-.25, 28px);
  // Add a temporary global loader until templates are redesigned
  &.header--loading {
    @include animation-name(rotate);
    @include animation-duration(.5s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
  }
}

.header__menu {
  @include inline-block;
  line-height: rhythm(2);
}

.header__login {
  padding: rhythm(.25) rhythm(.25) rhythm(.25) 0;
  @include breakpoint($gte-medium) {
    padding: rhythm(.25) rhythm(1) rhythm(.25) 0;
  }
  @include breakpoint($gte-large) {
    padding: rhythm(.25) rhythm(2) rhythm(.25) 0;;
  }
}

.header__user-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: rhythm(.25);
  @include breakpoint($gte-medium) {
    right: rhythm(1);
  }
  @include breakpoint($gte-large) {
    right: rhythm(2);
  }
}

.header__avatar {
  width: rhythm(1.5);
  height: rhythm(1.5);
}

.header__logo-only {
  text-align: center;
  margin-top: rhythm(1);
  .header__site-logo {
    @extend .is-transition;
    width: rhythm(3);
    height: rhythm(3);
  }
  @include breakpoint($gte-medium) {
    .header__site-logo {
      width: rhythm(4);
      height: rhythm(4);
    }
  }
  @include breakpoint($gte-large) {
    margin-top: rhythm(2);
    .header__site-logo {
      width: rhythm(5);
      height: rhythm(5);
    }
  }
}

}
