/*

### Header

#### Site Logo

```

<header role="banner" class="accent__pop-more--large header">
  <div class="l__wrapper">
    <h1 class="gamma text--align-center heading--sub"><a href="/"><img src="../logo.svg"> Zanata</a></h1>
  </div>
</header>

```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.header {
  @extend .l--cf-of;
  position: relative;
  height: rhythm(2);
  z-index: 100;
  background-color: $color-bg-lightest;
  border-bottom: 2px solid $default-border-color;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: rhythm(2);
    background-color: $color-bg-lightest;
    border-bottom: 2px solid $default-border-color;
    content: "";
  }
}

.header__title {
  @include adjust-font-size-to(28px, 2);
  position: relative;
  z-index: 101;
  margin: 0;
  padding: 0;
  font-weight: 400;
  display: block;
  text-align: center;
  min-height: rhythm(2, 28px);
  @include breakpoint($gte-m-l) {
    margin: 0 0 0 rhythm(1,28px);
    float: left;
  }
  @include breakpoint($gte-large) {
    margin: 0 0 0 rhythm(2,28px);
  }
}

.header__site-logo {
  height: rhythm(1.25, 28px);
  margin-bottom: rhythm(-.25, 28px);
  // Add a temporary global loader until templates are redesigned
  &.header--loading {
    @include animation-name(rotate);
    @include animation-duration(.5s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
  }
}

.header__menu,
.header__main-nav {
  @include inline-block;
  position: relative;
  min-height: rhythm(2);
  @include breakpoint($lt-m-l) {
    position: absolute;
    left: 0;
    top: 0;
  }
  @include breakpoint($breakpoint-medium ($breakpoint-m-l - 1px)) {
    left: rhythm(1);
  }
  @include breakpoint($gte-m-l) {
    margin-left: rhythm(1);
    z-index: 101;
  }
}

.header__main-nav__group {
  @include breakpoint($lt-m-l) {
    // @include backface-visibility(hidden);
    @include transition($transition-bounce-ease);
    @include transform(translateY(-100%));
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    margin-top: rhythm(-2);
    padding-top: rhythm(2);
    min-width: emCalc(320px);
    border-right: $default-border;
    border-bottom: 2px solid $default-border-color;
    background-color: $color-bg-light;
    .csstransforms3d & {
      bottom: auto;
      top: 100%;
    }
  }
  @include breakpoint($breakpoint-medium ($breakpoint-m-l - 1px)) {
    border-left: $default-border;
  }
}

.header__main-nav__toggle {
  @include adjust-font-size-to(20px);
  border-right: 1px solid transparent;
  border-bottom: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: rhythm(2, 20px);
  height: rhythm(2, 20px);
  text-align: center;
  padding: rhythm(.375, 20px) 0;
  &:hover,
  &:focus {
    background-color: $color-bg-light;
    border-bottom: 2px solid $default-border-color;
  }
  @include breakpoint($gte-m-l) {
    display: none;
  }
  @include breakpoint($breakpoint-medium ($breakpoint-m-l - 1px)) {
    border-left: 1px solid transparent;
  }
}

.header__search {
  @include transition(width 0.3s cubic-bezier(.26, .47, .36, .94));
  margin: 0;
  height: rhythm(2.25);
  padding: rhythm(.5) rhythm(.5) rhythm(.25);
  @include breakpoint($lt-m-l) {
    width: 100%;
    .header__search__submit {
      right: rhythm(.75);
    }
    &:before {
      top: rhythm(.75);
      left: rhythm(.75);
    }
  }
  @include breakpoint($gte-m-l) {
    height: rhythm(2);
    padding: rhythm(.25) 0;
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;
    z-index: 150;
    &.is-active {
      width: 150%;
    }
  }
}

.header__main-nav__menu {
  a {
    padding: rhythm(.5);
    height: rhythm(2);
    display: block;
    &:hover {
      background-color: $color-bg-lightest;
    }
  }
  @include breakpoint($gte-m-l) {
    @include inline-block;
    position: relative;
    left: 50%;
    margin-left: rhythm(.25);
    li,
    a {
      @include inline-block;
    }
    li {
      display: inline-block;
      margin: 0 -.3em 0 0;
    }
    a {
      border-bottom: 2px solid transparent;
      padding: rhythm(.5) rhythm(.25);
      &:hover,
      &:focus {
        border-bottom-color: $default-border-color;
        background-color: $color-bg-light;
      }
      &:active {
        background-color: $color-bg;
        border-bottom-color: $default-border-color;
      }
    }
  }
  @include breakpoint($gte-large) {
    margin-left: rhythm(.5);
    a {
      padding: rhythm(.5);
    }
  }
}

// Active State

@include breakpoint($lt-m-l) {
  .header__main-nav.is-hover,
  .header__main-nav.is-active {
    .header__main-nav__toggle {
      border-right: $default-border;
      background-color: $color-bg-light;
      border-bottom: 2px solid transparent;
      &:before {
        @include transform(rotate(180deg));
      }
    }
    .header__main-nav__group {
      visibility: visible;
      .no-csstransforms3d & {
        top: 100%;
        bottom: auto;
      }
      .csstransforms3d & {
        @include transform(translateY(0));
      }
    }
  }
}

@include breakpoint($breakpoint-medium ($breakpoint-m-l - 1px)) {
  .header__main-nav.is-hover,
  .header__main-nav.is-active {
    .header__main-nav__toggle {
      border-left: $default-border;
    }
  }
}

.header__login {
  z-index: 101;
  position: absolute;
  top: 0;
  right: 0;
  padding: rhythm(.2) rhythm(.25) rhythm(.2) 0;
  @include breakpoint($gte-medium) {
    padding: rhythm(.2) rhythm(1) rhythm(.2) 0;
  }
  @include breakpoint($gte-large) {
    padding: rhythm(.2) rhythm(2) rhythm(.2) 0;;
  }
}

.header__avatar {
  width: rhythm(1.25);
  height: rhythm(1.25);
}

.header__logo-only {
  text-align: center;
  margin-top: rhythm(1);
  .header__site-logo {
    @extend .is-transition;
    width: rhythm(3);
    height: rhythm(3);
  }
  @include breakpoint($gte-medium) {
    .header__site-logo {
      width: rhythm(4);
      height: rhythm(4);
    }
  }
  @include breakpoint($gte-large) {
    margin-top: rhythm(2);
    .header__site-logo {
      width: rhythm(5);
      height: rhythm(5);
    }
  }
}

.header__user-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint($gte-medium) {
    right: rhythm(1);
  }
  @include breakpoint($gte-large) {
    right: rhythm(2);
  }
}

.header__user-nav__toggle {
  @extend .is-transition;
  // @include backface-visibility(hidden);
  position: relative;
  display: block;
  right: 0;
  height: rhythm(2);
  padding: rhythm(.375) rhythm(.5) rhythm(.375) rhythm(1);
  z-index: 101;
  border-left: 1px solid transparent;
  border-bottom: 2px solid transparent;
  &:hover,
  &:focus {
    background-color: $color-bg-light;
    border-bottom: 2px solid $default-border-color;
  }
  &:before {
    @extend .is-transition;
    position: absolute;
    left: rhythm(.125, 20px);
    line-height: rhythm(1.25, 20px);
    @extend .i--large;
    @extend .i--arrow-down:before;
  }
  @include breakpoint($gte-medium) {
    border-right: 1px solid transparent;
  }
}

.header__user-nav__menu {
  @extend .bg--pop-high;
  // @include backface-visibility(hidden);
  @include transition($transition-bounce-ease);
  visibility: hidden;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  border-top: none;
  padding-top: rhythm(2);
  margin-top: rhythm(-2);
  @include transform(translateY(-100%));
  .csstransforms3d & {
    bottom: auto;
    top: 100%;
  }
  li {
    padding: 0;
  }
  a {
    padding: rhythm(.5);
    display: block;
    min-width: emCalc(200px);
    &:hover,
    &:focus {
      .no-touch & {
        background-color: $color-bg-lightest;
      }
    }
  }
  @include breakpoint($lte-small) {
    border-right: none;
    a {
      min-width: emCalc(320px);
    }
  }
}

// Used to show the admin link in the menu on big screens

//li
// .header__user-nav__admin {
//   @include breakpoint($gte-medium) {
//     display: none;
//   }
// }

// .header__user-admin {
//   display: none;
//   @include breakpoint($gte-medium) {
//     position: absolute;
//     right: rhythm(3.875);
//     top: 0;
//     display: inline-block;
//     z-index: 101;
//     line-height: rhythm(1.5);
//     height: rhythm(2);
//     padding: rhythm(.25) rhythm(.375);
//     border-bottom: 2px solid transparent;
//     &:hover {
//       background-color: $color-bg-light;
//       border-bottom: 2px solid $default-border-color;
//     }
//   }
//   @include breakpoint($gte-large) {
//     right: rhythm(4.875);
//   }
// }

// Active State

.header__user-nav.is-hover,
.header__user-nav.is-active {
  .header__user-nav__toggle {
    border-left: $default-border;
    background-color: $color-bg-light;
    border-bottom: 2px solid transparent;
    &:before {
      @include transform(rotate(180deg));
    }
  }
  .header__user-nav__menu {
    visibility: visible;
    .no-csstransforms3d & {
      top: 100%;
      bottom: auto;
    }
    .csstransforms3d & {
      @include transform(translateY(0));
    }
  }
  @include breakpoint($gte-medium) {
    .header__user-nav__toggle {
      border-right: $default-border;
    }
  }
}

}
