// TODO: Remove namespacing when old zanata removed
.new-zanata {

  .header-banner {
    background-color: $color-primary;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0 rhythm(.25) rhythm(1) rgba(0,0,0,0.1);
  }

  .header-banner__item {
    height: rhythm(2);
    display: inline-block;
    padding-top: rhythm(.5);
    padding-bottom: rhythm(.5);
  }

}
