/*

### Labels

```
<span class="label">Label</span>
<span class="label--highlight">Highlight</span>
<span class="label--success">Success</span>
<span class="label--unsure">Unsure</span>
<span class="label--warning">Warning</span>
<span class="label--danger">Danger</span>
<span class="label--neutral">Neutral</span>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.label {
  background-color: $color-secondary-20;
  padding: 0 rhythm(.125, 13px);
  margin: 0 rhythm(.0675, 13px);
  @include font-size(13px);
}

.label--highlight {
  @extend .label;
  background-color: $color-highlight;
  color: $white;
}

.label--success {
  @extend .label;
  background-color: $color-success;
  color: $white;
}

.label--unsure {
  @extend .label;
  background-color: $color-unsure;
  color: $white;
}

.label--warning {
  @extend .label;
  background-color: $color-warning;
  color: $white;
}

.label--danger {
  @extend .label;
  background-color: $color-danger;
  color: $white;
}

.label--neutral {
  @extend .label;
  background-color: $color-neutral;
  color: $white;
}

}
