/*

### Labels

```
<p><span class="label">Label</span></p>
<p><span class="label--highlight">Label Highlight</span></p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.label {
  background-color: $color-secondary-20;
  padding: 0 rhythm(.125, 13px);
  margin: rhythm(.0375, 13px) rhythm(.125, 13px) 0;
  display: inline-block;
  @include font-size(13px);
  vertical-align: top;
}

.label--highlight {
  @extend .label;
  background-color: $color-highlight;
  color: $white;
}

}
