/*
### Lists

#### No Bullet List

```
<ul class="list--no-bullets">
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

//ul
.list--no-bullets {
  @include no-bullets;
  margin: 0;
  padding: 0;
}

}

/*

#### Navigation list

```
<nav>
  <ul>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>
</nav>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

nav ul,
nav ol {
  @extend .list--no-bullets;
}

}

/*

#### Horizontal List

```
<ul class="list--horizontal">
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

//ul
.list--horizontal {
  @extend .list--no-bullets;
  li {
    display: inline-block;
    margin-right: rhythm(.25);
    &:last-child{
      margin-right: 0;
    }
  }
}

}

/*

#### List Slat

```
<ul class="list--slat">
  <li>Standard</li>
  <li><a href="#">Link</a></li>
  <li><span class="list__title">Title</span></li>
  <li><span class="list__title"><a href="#">Title Link</a></span></li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.list--slat {
  @extend .list--no-bullets;
  > li {
    @include old-ie {
      border-top: 1px solid $color-secondary-20;
    }
    padding: rhythm(.25) 0;
    border-top: 1px solid rgba($color-secondary, .1);
    > a {
      display: inline-block;
    }
    &:first-child {
      border-top: none;
    }
  }
}

.list__title {
  margin: 0;
  font-weight: 600;
  @include adjust-font-size-to($base-font-size);
}

}

/*

#### List Slat Horizontal

```
<ul class="list--slat-horizontal">
  <li>Standard</li>
  <li><a href="#">Link</a></li>
  <li><span class="list__title">Title</span></li>
  <li><span class="list__title"><a href="#">Title Link</a></span></li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.list--slat-horizontal {
  @extend .list--no-bullets;
  > li {
    @include old-ie {
      border-left: 1px solid $color-secondary-20;
    }
    display: inline-block;
    padding: 0 rhythm(.25);
    border-left: 1px solid rgba($color-secondary, .1);
    > a {
      display: inline-block;
    }
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
    &.list__right {
      padding: 0;
      border-left: none;
      @include breakpoint($gte-medium) {
        float: right;
      }
    }
  }
}

.list__title {
  margin: 0;
  font-weight: 600;
  @include adjust-font-size-to($base-font-size);
}

}

/*

#### List Block Links

```
<ul class="list--block-links">
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.list--block-links {
  li {
    padding: 0;
    > a {
      display: block;
      padding: rhythm(.5);
      &:hover {
        background-color: $white;
      }
    }
  }
}

.txt--invert.list--block-links li > a {
  &:hover {
    background-color: darken($color-base-font, 5%) !important;
  }
  &:active {
    background-color: darken($color-base-font, 10%) !important;
  }
}

}

/*

### List Stats

```example
<ul class="list--stats">
  <li class="progress-bar__expander panels__panel__item is-active">
    <a href="#">
      <div class="list__item">
        <div class="list__item__info">
          <span class="list__title">Russian</span>
        </div>
        <div class="list__item__stats">
          <span class="stats--small txt--state-neutral">
            <span class="stats__figure">0%</span>
            <span class="stats__unit">translated</span>
          </span>
        </div>
      </div>
      <div class="progress-bar">
        <span class="progress-bar__item"></span>
      </div>
    </a>
  </li>
  <li class="progress-bar__expander bg--highest--hover">
    <a href="#">
      <div class="list__item">
        <div class="list__item__info">
          <span class="list__title">Japanese</span>
        </div>
        <div class="list__item__stats">
          <span class="stats--small txt--state-neutral">
            <span class="stats__figure">0%</span>
            <span class="stats__unit">translated</span>
          </span>
        </div>
      </div>
      <div class="progress-bar">
        <span class="progress-bar__item"></span>
      </div>
    </a>
  </li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.list--stats {
  @extend .list--no-bullets;
  padding-bottom: rhythm(.25);
  .list__item {
    display: table;
    padding: rhythm(.5) rhythm(.5) rhythm(.25);
    min-height: rhythm(2.25);
  }
  .list__item__info {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  .list__item__stats {
    margin-left: rhythm(.5);
    text-align: right;
    color: $color-secondary;
  }
}

}

/*

#### List Highlight

```example
<ul class="list--slat list--highlight">
  <li class="reveal--list-item">Assamese<span class="txt--understated l--push-left-quarter">[as]</span> <a href="#" class="l--float-right txt--danger reveal__target"><i class="i--large i--remove"></i></a></li>
  <li class="reveal--list-item">Chinese (Simplified Han)<span class="txt--understated l--push-left-quarter">[zh-Hans]</span> <a href="#" class="txt--danger reveal__target"><i class="i--large i--remove"></i></a></li>
  <li class="reveal--list-item">Chinese (Traditional Han)<span class="txt--understated l--push-left-quarter">[zh-Hant]</span> <a href="#" class="txt--danger reveal__target"><i class="i--large i--remove"></i></a></li>
  <li class="reveal--list-item">English (United States)<span class="txt--understated l--push-left-quarter">[en-US]</span> <a href="#" class="txt--danger reveal__target"><i class="i--large i--remove"></i></a></li>

  <li>
    <label for="settings-project">Add a Language</label>
    <input type="text" placeholder="Search Languages">
  </li>
</ul>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

//ul
.list--highlight {
  li {
    @extend .is-transition;
    &:hover {
      background-color: rgba($color-secondary, .05);
    }
  }
}

.list--highlight__item--none {
  &:hover {
    background-color: inherit !important;
  }
}

}
