/*

### Modal

```example
<button class="js-modal__show" data-target="modal-1">Show modal</button>

<div class="modal" id="model-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus nisi et eros bibendum lacinia. Curabitur sed est nec urna pretium vulputate ut eget lectus. In ultricies, tellus non vehicula malesuada, augue sem aliquet tellus, ut faucibus turpis ante quis nibh. Ut vel turpis tortor, a consectetur ipsum. Sed posuere commodo vestibulum. Pellentesque volutpat diam sem.</p>
</div>
```

*/

.new-zanata {

  .modal {
    @extend .is-transition;
    @include backface-visibility(hidden);
    @include opacity(0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    display: block;
    visibility: hidden;
    overflow: hidden;
    margin: 0 auto;
    padding: rhythm(1);
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-dark, .9);
    @include perspective(rhythm(50));
    -webkit-overflow-scrolling: touch;
    &.is-active {
      visibility: visible;
      @include opacity(1);
    }
  }

  .modal__dialog {
    @extend .bg--pop-high;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    max-height: 100%;
    top: 50%;
    @include transform-origin(0);
  }

  .modal.is-active .modal__dialog {
    @include transform3d(rotateX(0) translateY(-50%));
  }

  .modal__header {
    background-color: $color-bg-lightest;
    border-bottom: $default-border;
    height: rhythm(2);
  }

  .modal__title {
    margin: 0;
    @include adjust-font-size-to(20px);
    padding: rhythm(.5, 20px) rhythm(1.5, 20px) rhythm(.5, 20px) rhythm(1, 20px);
  }

  .modal__close {
    position: absolute;
    height: rhythm(2);
    width: rhythm(2);
    top: 0;
    right: 0;
    text-align: center !important;
    border-left: $default-border;
    color: rgba($color-secondary, .3);
    &:hover {
      background-color: rgba($color-secondary, .05);
      border-left: $default-border;
    }
    &:active {
      background-color: rgba($color-secondary, .1);
      border-left: $default-border;
    }
  }

  .modal__content {
    @extend .bg--high;
    overflow: auto;
    overflow-x: hidden;
    max-height: 100%;
    margin-bottom: rhythm(2.25);
  }

  .modal__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: rhythm(2.25);
    border-top: $default-border;
  }

    //body
  .is-modal {
    overflow: hidden;
    height: 100%;
  }

}
