// TODO: Remove namespacing when old zanata removed
.new-zanata {

.panels__container {
  position: relative;
  // overflow: hidden;
  min-height: rhythm(12);
}

.panels {
  @extend .is-transition-bounce;
  display: table;
  table-layout: fixed;
}

.panels--2 {
  @extend .panels;
  // @include backface-visibility(hidden);
  position: relative;
  left: 0;
  width: 200%;
  .panels__panel {
    width: 50%;
  }
  &.panel__active-2 {
    .panels__panel:nth-child(2) {
      background-color: $white;
    }
  }
  // TODO: Remove this when active class is working properly
  .panels__panel:nth-child(2) {
    background-color: $white;
  }
  @include breakpoint($lte-small) {
    .panels__panel:nth-child(2) {
      visibility: hidden;
      @include opacity(0);
    }
    &.panel__active-2 {
      @include transform3d(translate3d(-50%,0,0));
      .panels__panel:first-child {
        visibility: hidden;
        @include opacity(0);
      }
      .panels__panel:nth-child(2) {
        visibility: visible;
        @include opacity(1);
      }
    }
  }
  @include breakpoint($gte-medium) {
    width: 100%;
    .panels__panel:first-child {
      border-right: none;
    }
  }
}

.panels--3 {
  @extend .panels;
  width: 300%;
  @include breakpoint($gte-large) {
    width: 150%;
  }
  &.panel__active-2 {

  }
  &.panel__active-3 {

  }
}

.panels__panel {
  display: table-cell;
  position: relative;
  &.is-active {
    @extend .bg--pop-highest;
  }
}

// .panels__panel__header {
//   border-bottom: 2px solid rgba($color-secondary, .1);
//   background-color: $color-bg-lightest;
//   padding: rhythm(.5);
//   z-index: 101;
//   position: relative;
// }

// .panels__panel__sub-header {
//   border-bottom: 2px solid rgba($color-secondary, .1);
//   background-color: $color-bg-lighter;
//   padding: rhythm(.5);
//   z-index: 101;
//   position: relative;
// }

.panels__panel__item {
  &.is-active {
    background-color: $color-bg-lighter;
  }
}

}
