/*

### Pills

```example
<span class="pill">Pill</span>
<span class="pill pill--highlight is-active">Pill highlight</span>
<span class="pill pill--success">Pill Success</span>
<span class="pill pill--unsure">Pill unsure</span>
<span class="pill pill--warning">Pill warning</span>
<span class="pill pill--danger">Pill danger</span>
<span class="pill pill--neutral">Pill Neutral</span>
<span class="pill pill--secondary">Pill Secondary</span>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.pill {
  @include border-radius(100px);
  text-align: center;
  display: block;
  padding: 0 rhythm(.5);
  margin: 0;
  background-color: $color-secondary-20;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  @include transition($default-transition);
  &:hover,
  &:focus {
    background-color: #eee;
  }
  &:active,
  &.is-active {
    cursor: default;
    color: $white;
  }
}

.pill--inline {
  display: inline-block;
  margin-right: rhythm(.25);
  &:last-child {
    margin-right: 0;
  }
}

.pill--highlight {
  color: $color-highlight;
  &:hover,
  &:focus {
    background-color: rgba($color-highlight, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-highlight;
  }
}

.pill--success {
  color: $color-success;
  &:hover,
  &:focus {
    background-color: rgba($color-success, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-success;
  }
}

.pill--unsure {
  color: $color-unsure;
  &:hover,
  &:focus {
    background-color: rgba($color-unsure, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-unsure;
  }
}

.pill--warning {
  color: $color-warning;
  &:hover,
  &:focus {
    background-color: rgba($color-warning, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-warning;
  }
}

.pill--danger {
  color: $color-danger;
  &:hover,
  &:focus {
    background-color: rgba($color-danger, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-danger;
  }
}

.pill--neutral {
  color: $color-neutral;
  &:hover,
  &:focus {
    background-color: rgba($color-neutral, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-neutral;
    color: $color-secondary-70;
  }
}

.pill--secondary {
  color: $color-secondary;
  &:hover,
  &:focus {
    background-color: rgba($color-secondary, .2);
  }
  &:active,
  &.is-active {
    background-color: $color-secondary;
  }
}

}
