//
// Placeholder Component - Default Settings
// ----------------------------------------
// Change in _settings.scss
// TODO: Move this to the styleguide css

$placeholder-font   : (font-family-base, $font-family-base),
                      (font-family-heading, $font-family-heading) !default;
$placeholder-color  : (color-primary, $color-primary),
                      (color-secondary, $color-secondary),
                      (color-secondary, $color-tertiary),
                      (color-base-font, $color-base-font)  !default;

/*

### Colors
*/
@each $var in $placeholder-color {
/*
  <div class="ph_#{nth($var,1)}">$#{nth($var,1)}</div>
*/
}

[class*="ph_color"] {
  margin-bottom: rhythm(1);
  width: 100%;
  font-family: $font-monospace;
  line-height: rhythm(1.5);
  &:before {
    display: block;
    content: "";
    height: rhythm(2);
  }
  &:after {
    display: block;
    padding: 0 rhythm(.5);
    background-color: rgba($black, 0.025);
  }
  @include breakpoint($gte-large, $no-query: true) {
    line-height: rhythm(3);
    padding: 0;
    background-color: rgba($black, 0.025);
    &:before {
      height: rhythm(3);
      float: left;
      width: 20%;
      margin-right: rhythm(.5);
    }
    &:after {
      float: right;
      width: 20%;
      text-align: center;
      margin-left: rhythm(.5);
    }
  }
}

@each $var in $placeholder-color {
  .ph_#{nth($var,1)} {
    &:before {
      background-color: nth($var,2);
    }
    &:after {
      content: "#{nth($var,2)}";
    }
  }
}

/*
### Font (Font Family)

*/
@each $var in $placeholder-font {
/*
  <div class="ph_#{nth($var,1)}">$#{nth($var,1)}</div>
*/
}

[class*="ph_font"] {
  margin-bottom: rhythm(1);
  padding: 0 rhythm(.5);
  width: 100%;
  background-color: rgba($black, 0.025);
  font-family: $font-monospace;
  line-height: rhythm(1.5);
  line-height: rhythm(2);
  &:before {
    display: block;
    margin: 0 rhythm(-.5);
    padding: 0 rhythm(.5);
    background-color: rgba($black, 0.025);
    content: "";
  }

}

@each $var in $placeholder-font {
  .ph_#{nth($var,1)} {
    &:before {
      font-family: nth($var,2);
      content: "#{nth($var,2)}";
    }
  }
}

.ph_block {
  line-height: rhythm(5);
  text-align: center;
  background-color: $lighter-grey;
  display: block;
}

.ph_inline-block {
  @extend .ph_block;
  display: inline-block;
}
