// TODO: Remove namespacing when old zanata removed
.new-zanata {

.progress-bar {
  position: relative;
  width: 100%;
  height: rhythm(.25);
}

.progress-bar--large {
  @extend .progress-bar;
  height: rhythm(.5);
}

.progress-bar__expander {
  position: relative;
  margin-top: rhythm(-.25);
  padding-bottom: rhythm(.5) !important;
  border-bottom: none !important;
  &:hover,
  &.is-active {
    .no-touch & {
      // @include transform(scaleY(2) translateY(25%));
      .progress-bar {
        height: rhythm(.5);
      }
    }
  }
  .progress-bar {
    @extend .is-transition;
    @include transition-delay(.2s);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: rhythm(-.5);
  }
}
.progress-bar--large__expander {
  position: relative;
  padding-bottom: rhythm(1) !important;
  border-bottom: none !important;
  &:hover ,
  &.is-active {
    .no-touch & {
      // @include transform(scaleY(2) translateY(25%));
      .progress-bar--large {
        height: rhythm(1);
      }
    }
  }
  .progress-bar--large {
    @extend .is-transition;
    @include transition-delay(.2s);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: rhythm(-.5);
  }
}

.progress-bar__item {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1;
  background-color: $color-neutral;
}

.progress-bar__untranslated {
  @extend .progress-bar__item;
}

.progress-bar__success,
.progress-bar__translated {
  @extend .progress-bar__item;
  background-color: $color-success;
  z-index: 1;
}

.progress-bar__fuzzy {
  @extend .progress-bar__item;
  background-color: $color-unsure;
  z-index: 2;
}

.progress-bar__rejected {
  @extend .progress-bar__item;
  background-color: $color-warning;
  z-index: 3;
}

.progress-bar__approved {
  @extend .progress-bar__item;
  background-color: $color-highlight;
  z-index: 4;
}

}
