// TODO: Remove namespacing when old zanata removed
.new-zanata {

.progress-bar {
  @extend .is-transition;
  // @include backface-visibility(hidden);
  @include transition-delay(.2s);
  position: relative;
  width: 100%;
  height: rhythm(.25);
  background-color: $color-neutral;
}

.progress-bar--large {
  @extend .progress-bar;
  height: rhythm(.5);
  margin-bottom: 0;
}

.progress-bar__expander {
  // @include transform3d(translateZ(0));
  &:hover .progress-bar,
  &.is-active .progress-bar {
    .no-touch & {
      @include transform(scaleY(2) translateY(25%));
    }
  }
}

.progress-bar__item {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 1;
}

.progress-bar__translated {
  @extend .progress-bar__item;
  background-color: $color-success;
  z-index: 1;
}

.progress-bar__fuzzy {
  @extend .progress-bar__item;
  background-color: $color-unsure;
  z-index: 2;
}

.progress-bar__rejected {
  @extend .progress-bar__item;
  background-color: $color-warning;
  z-index: 3;
}

.progress-bar__approved {
  @extend .progress-bar__item;
  background-color: $color-highlight;
  z-index: 4;
}

}
