/*
### Reveal

Used to show extra information on hover of the parent element

```
<div class="reveal">
  <p>Hover over this area to show the hidden items</p>
  <p class="reveal__target">Look at me!</p>
</div>

<ul>
  <li class="reveal--list-item">
    <p>Hover over this area to show the hidden items</p>
    <span class="reveal__target"><i class="i i--remove"></i></span>
  </li>
</ul>

```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.reveal {
  &:hover,
  &:focus {
    .reveal__target {
      .no-touch & {
        @include opacity(1);
      }
    }
  }
}

.reveal__target {
  .no-touch & {
    @extend .is-transition;
    @include opacity(0);
    &:focus {
      @include opacity(1);
    }
  }
}

.reveal__target--slide {
  @extend .is-transition;
  @include opacity(0);
  max-height: 0;
  &.is-active {
    @include opacity(1);
    max-height: rhythm(3);
  }
}

.reveal__target--appear {
  display: none !important;
  &.is-active {
    display: block !important;
  }
}

.reveal--list-item {
  @extend .reveal;
  position: relative;
  padding-right: rhythm(1) !important;
  .reveal__target {
    position: absolute;
    right: 0;
  }
}

}
