// TODO: Remove namespacing when old zanata removed
.new-zanata {

// See autocompletee for override

*.rf-au-fnt {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

*.rf-au-shdw {
  border: none;
}

*.rf-au-itm-sel {
  border-style: none;
}

.rf-au-shdw-t, .rf-au-shdw-l, .rf-au-shdw-r, .rf-au-shdw-b {
  background-image: none;
  background-position: 0%;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

}
