// TODO: Remove namespacing when old zanata removed
.new-zanata {

// Rich components - Auto complete 
.auto-complete, .auto-complete input  {
  border-width: initial;
  border-style: initial;
  border-color: initial;
  display: initial;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0%;
  background-color: initial;
  font-size: inherit;
}

*.rf-au-fnt {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

*.rf-au-shdw {
  border: none;
}

*.rf-au-itm-sel {
  border-style: none;
}

.rf-au-shdw-t, .rf-au-shdw-l, .rf-au-shdw-r, .rf-au-shdw-b {
  background-image: none;
  background-position: 0%;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

}