// TODO: Remove namespacing when old zanata removed
.new-zanata {

.stats {
  color: $color-secondary;
  @include adjust-font-size-to(14px);
}

.stats--mini {
  @extend .stats;
  @include adjust-font-size-to(12px);
  .stats__figure {
    @include font-size(28px);
    padding-top: .1em;
  }
  .stats__unit {
    margin-top: .45em;
  }
}

.stats--small {
  @extend .stats;
  @include adjust-font-size-to(12px);
}

.stats--large {
  @extend .stats;
  @include adjust-font-size-to(17px);
  @include breakpoint($gte-medium) {
    @include adjust-font-size-to(21px);
  }
}

.stats__figure {
  @include font-size(42px);
  display: block;
  font-weight: 300;
  line-height: .7em;
  white-space: nowrap;
}

.stats__unit {
  @include font-size(18px);
  display: block;
  margin-top: .15em;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1em;
}

}
