

.stats {
  color: $color-secondary;
}

.stats--small {
  @extend .stats;
  @include adjust-font-size-to(11px);
}

.stats--large {
  @extend .stats;
  @include adjust-font-size-to(17px);
  @include breakpoint($gte-medium) {
    @include adjust-font-size-to(21px);
  }
}

.stats__figure {
  @include font-size(46px);
  display: block;
  font-weight: 300;
  line-height: 1em;
}

.stats__unit {
  @include font-size(20px);
  display: block;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1em;
}
