.tooltip {
  position: absolute;
  z-index: 9999;
  display: block;
  visibility: visible;
  font-size: emCalc(14px);
  line-height: 1.4;
  @include opacity(0);
  text-transform: normal;
}

.tooltip.in {
  @include opacity(.9);
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip__inner {
  max-width: emCalc(320px);
  padding: 3px 8px;
  color: $lightest-grey;
  text-align: center;
  text-decoration: none;
  background-color: $color-secondary;
  border-radius: $default-border-radius;
}
.tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip__arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: $color-secondary;
}
.tooltip.top-left .tooltip__arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: $color-secondary;
}
.tooltip.top-right .tooltip__arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: $color-secondary;
}
.tooltip.right .tooltip__arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: $color-secondary;
}
.tooltip.left .tooltip__arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: $color-secondary;
}
.tooltip.bottom .tooltip__arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $color-secondary;
}
.tooltip.bottom-left .tooltip__arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: $color-secondary;
}
.tooltip.bottom-right .tooltip__arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: $color-secondary;
}
