{% include head.html %}

<header role="banner" class="header-banner">
  <nav role="navigation" class="p-relative txt--align-center txt--align-center-s">
    <div class="p-absolute-left">
      <a href="/projects/mortal-kombat/master" class="bx--inline-block link--invert header-banner__item">
        <span class="l--pad-v-half l--pad-h-quarter w--r-h is-hidden--m-l-up"><i class="i i--arrow-left"></i></span>
        <span class="is-hidden--m-l-down l--push-left-half">Mortal Kombat <span class="txt--muted">master</span></span>
      </a>
      <i class="i i--arrow-right l--push-h-quarter txt--invert txt--muted is-hidden--m-l-down"></i>
      <ul class="list--horizontal bx--inline-block">
        <li><button class="button--link link--invert"><h1 class="zeta l--push-all-0 bx--inline-block txt--invert header-banner__item l--push-right-quarter">MK9Story.txt</h1><span class="is-hidden--s"><i class="i i--arrow-down"></i></button></span></li>
        <li><button class="button--link link--invert"><span class="is-hidden--s"><h2 class="zeta l--push-all-0 bx--inline-block txt--invert header-banner__item l--push-right-quarter">French</h2><i class="i i--arrow-down"></i></button></span></li>
      </ul>
    </div>
    <a href="/">
      <img class="h--1h l--push-v-quarter" src="{% if page.root %}{{ page.root }}{% endif %}/assets/img/logo/logo-invert.svg">
      <!-- <span class="spinner is-loading"><span class="is-sr-only">Loading</span></span> -->
    </a>
    <ul class="list--inline p-absolute-right l--push-right-half">
      <li><a href="settings" class="link--invert header-banner__item w--r-1h"><i class="i i--large i--settings"></i><span class="is-sr-only"> Settings</span></a></li>
      <li><button class="button--link link--invert header-banner__item w--r-1h" title="More"><i class="i i--large i--ellipsis"></i><span class="is-sr-only">More</span></button></li>
      <li><button class="button--link link--invert header-banner__item w--r-1h" title="Notifications"><i class="i i--large i--notification"></i><span class="is-sr-only">Notifications</span></button></li>
      <li>
        <a href="/dashboard" class="h--2 w--r-1h">
          <img class="bx--round header__avatar" src="http://www.gravatar.com/avatar/fd8eefdca68e2044a7680d7a0cf574d7?d=mm&amp;r=g&amp;s=72"/>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="bg--highest l--pad-h-half l--cf-of h--1h">
    <button class="button button--unstyled l--pad-v-quarter l--float-left"><i class="i txt--neutral i--translate"></i> Translating <i class="i i--arrow-down txt--muted"></i></button>
    <ul class="list--inline l--float-left l--push-left-quarter">
      <li class="is-hidden--m-l-down"><a class="l--pad-h-quarter l--push-v-quarter bx--inline-block bg--secondary bx--round link--invert" title="Total Phrases">378<span class="is-sr-only">Total Phrases</span></a></li>
      <li class="is-hidden--m-l-down"><a class="l--pad-h-quarter l--push-v-quarter bx--inline-block" title="Approved"><i class="i i--dot"></i><strong>6</strong><span class="is-sr-only">Approved</span></a></li>
      <li class="is-hidden--m-l-down"><a class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--success" title="Translated"><i class="i i--dot"></i><strong>256</strong><span class="is-sr-only">Translated</span></a></li>
      <li class="is-hidden--m-l-down"><a class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--unsure" title="Fuzzy"><i class="i i--dot"></i><strong>5</strong><span class="is-sr-only">Fuzzy</span></a></li>
      <li class="is-hidden--m-l-down"><a class="l--pad-h-quarter l--push-v-quarter bx--inline-block link--neutral" title="Untranslated"><i class="i i--dot"></i><strong>111</strong><span class="is-sr-only">Untranslated</span></a></li>
      <li><button class="button--link l--pad-h-quarter h--1h" title="Filters"><i class="i i--filter"></i><span class="is-sr-only">More filters</span><i class="i i--arrow-down"></i></button></li>
    </ul>
    <div class="l--float-right">
      <ul class="list--inline">
        <li><button class="button--link link--neutral h--1h w--r-1h" title="Search"><i class="i i--large i--search"></i><span class="is-sr-only">Search</span></button></li>
        <li><button class="button--link link--neutral h--1h w--r-1h" title="Translation Memory"><i class="i i--large i--suggestion"></i><span class="is-sr-only">Translation Memory</span></button></li>
        <li><button class="button--link link--neutral h--1h w--r-1h" title="Details"><i class="i i--large i--info"></i><span class="is-sr-only">Details</span></button></li>
        <li><button class="button--link link--neutral h--1h w--r-1h" title="Glossary"><i class="i i--large i--glossary"></i><span class="is-sr-only">Glossary</span></button></li>
        <li><button class="button--link link--neutral h--1h w--r-1h" title="Hide Menubar"><i class="i i--large i--hide-up"></i><span class="is-sr-only">Hide Menubar</span></button></li>
      </ul>
    </div>
  </nav>
  <div class="progress-bar progress-bar--full">
    <span class="progress-bar__approved" style="width: 1.58%"></span>
    <span class="progress-bar__translated" style="width: 67.72%"></span>
    <span class="progress-bar__fuzzy" style="margin-left: 67.72%; width: 1.32%"></span>
    <span class="progress-bar__untranslated" style="margin-left: 69.04%; width: 30.96%"></span>
  </div>
</header>

<main class="editor__content">
  {{content}}
</main>

<aside class="editor__suggestions editor__panel">

</aside>

<aside class="editor__suggestions editor__panel">

</aside>
