<!DOCTYPE>
<!--[if lt IE 7]>      <html class="no-js new-zanata lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js new-zanata lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js new-zanata lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js new-zanata"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <title></title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <!-- TODO: Add prefetches -->

  <!-- TODO: Insert logo link -->
  <link rel="logo" type="image/svg" href=""/>

  <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/style-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="assets/css/style.css">
  <!--<![endif]-->

  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="js/vendor/selectivizr-min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

  <!-- JavaScript -->
  <!-- TODO: Add modernizr here -->
  <!-- <script src="js/vendor/<filename>.js"></script> -->

</head>

<body class="new-zanata">



<div class="off-canvas__outer new-zanata">
    <div class="off-canvas__target off-canvas--left" id="off-canvas--left" data-off-canvas="over">
      <header class="off-canvas__header">
        <a href="#off-canvas--left" class="off-canvas__close"><i class="i i--cross"></i><span class="is-invisible">Close</span></a>
      </header>
      <nav id="nav-main-side">
        <ul class="list--slat list--block-links">
          <li><a href="projects-old.html">Projects</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Languages</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <div class="l--push-all-half"><a href="#" class="button--primary button--full">Sign up</a></div>
      </nav>
    </div>
    <div class="off-canvas__target off-canvas--right" id="off-canvas--right" data-off-canvas="under">
      <header class="off-canvas__header">
        <a href="#off-canvas--right" class="off-canvas__close"><i class="i i--cross"></i><span class="is-invisible">Close</span></a>
      </header>
      <nav id="nav-user">
        <ul class="list--slat list--block-links txt--invert">
          <li><a href="dashboard">Dashboard <span class="badge--highlight badge--inline l--float-right">4</span></a></li>
<!--           <li><a href="#">Projects</a></li>
          <li><a href="#">Groups</a></li> -->
          <li><a href="settings">Settings</a></li>
          <li><a href="index.html">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="off-canvas__inner">
      <header role="banner" class="bg--pop-highest txt--s-align-center l--clearfix">
        <a href="#off-canvas--left" class="off-canvas__toggle--left is-hidden--m-up l--float-left"><i class="i i--huge i--list"></i><span class="is-invisible">Menu</span></a>
        
<h1 class="header__title heading--sub l--float-left"><a href="/"><img class="header__site-logo" src="logo.svg"> Zanata</a></h1>


        <nav id="nav-main" class="header__menu is-hidden--s l--push-left-half l--float-left">
          <ul class="list--horizontal">
            <li class="l--push-left-half"><a href="projects-old.html">Projects</a></li>
            <li class="l--push-left-half"><a href="groups">Groups</a></li>
            <li class="l--push-left-half"><a href="languages">Languages</a></li>
            <li class="l--push-left-half"><a href="help">Help</a></li>
          </ul>
        </nav>
        <a href="#off-canvas--right" class="off-canvas__toggle--right l--float-right">
          <i class="i i--huge i--list l--float-left l--pad-left-0"></i>
          <span class="badge__container">
            <span class="badge--bl">4</span>
            <img src="http://www.gravatar.com/avatar/fd8eefdca68e2044a7680d7a0cf574d7?d=mm&amp;r=g&amp;s=72">
          </span>
        </a>
      </header>


      <main role="main" class="l--pad-v-1">
        <div class="l__wrapper">
          <div class="g">
  <div class="g__item w--1-2 l--push-v-1">
    <div class="l--float-left w--2-6-s l--push-right-1">
      <div class="media--circle">
        <a href="/profile"><img src="http://placehold.it/115x115" alt="Luke Brooker"></a>
      </div>
    </div>
    <div class="txt--s-align-right">
      <h1 class="delta">Luke Brooker</h1>
      <ul class="list--no-bullets">
        <li>lukebrooker</li>
        <li>Brisbane, Australia</li>
        <li><a href="#">Settings <i aria-hidden="true" class="i i--cog"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="g">
  <div class="g__item l--push-v-1 w--1-2 w--4-10-h">
    <div class="l--push-left-half">
      <h2 class="heading--secondary">Your Activity</h2>
    </div>
    <ul class="list--no-bullets list--slat loader__container">
      <li class="l--pad-all-half bg--higher--hover bg--faint reveal">
        <p class="l--float-right txt--neutral l--push-left-half"><i aria-hidden="true" class="i--large i--review" title="Review"></i><span class="is-invisible">Review</span></p>
        <p class="l--push-all-0">You reviewed <strong>145 words</strong> in <a href="#">Spacewalk</a>, finishing on &#8220;<a href="#">(GMT+0800) Australia (Western)</a>&#8221;</p>
        <ul class="list--horizontal txt--meta">
          <li><i aria-hidden="true" class="i i--clock txt--neutral" title="Time"></i><span class="is-invisible">Time</span> 10 mins ago</li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--document txt--neutral" title="Document"></i><span class="is-invisible">Document</span> <a href="#">StringResource</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--language txt--neutral" title="Language"></i><span class="is-invisible">Language</span> <a href="#">zh-Hant</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--version txt--neutral" title="Version"><span class="is-invisible">Version</span></i> <a href="#">master</a></li>
        </ul>
      </li>
      <li class="l--pad-all-half bg--higher--hover bg--faint reveal">
        <p class="l--float-right txt--neutral l--push-left-half"><i aria-hidden="true" class="i--large i--review" title="Review"></i><span class="is-invisible">Review</span></p>
        <p class="l--push-all-0">You reviewed <strong>453 words</strong> in <a href="#">Zanata</a>, finishing on &#8220;<a href="#">Determines how the project is treated for upload…</a>&#8221;</p>
        <ul class="list--horizontal txt--meta">
          <li><i aria-hidden="true" class="i i--clock txt--neutral" title="Time"></i><span class="is-invisible">Time</span> 20 mins ago</li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--document txt--neutral" title="Document"></i><span class="is-invisible">Document</span> <a href="#">Messages</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--language txt--neutral" title="Language"></i><span class="is-invisible">Language</span> <a href="#">Japanese</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--version txt--neutral" title="Version"><span class="is-invisible">Version</span></i> <a href="#">3.0</a></li>
        </ul>
      </li>
      <li class="l--pad-all-half bg--higher--hover bg--faint reveal">
        <p class="l--float-right txt--neutral l--push-left-half"><i aria-hidden="true" class="i--large i--translate" title="Translation"></i><span class="is-invisible">Translation</span></p>
        <p class="l--push-all-0">You translated <strong>537 words</strong> in <a href="#">Zanata</a>, finishing on &#8220;<a href="#">Determines how the project is treated for upload…</a>&#8221;</p>
        <ul class="list--horizontal txt--meta">
          <li><i aria-hidden="true" class="i i--clock txt--neutral" title="Time"></i><span class="is-invisible">Time</span> 25 mins ago</li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--document txt--neutral" title="Document"></i><span class="is-invisible">Document</span> <a href="#">Messages</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--language txt--neutral" title="Language"></i><span class="is-invisible">Language</span> <a href="#">Japanese</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--version txt--neutral" title="Version"><span class="is-invisible">Version</span></i> <a href="#">3.0</a></li>
        </ul>
      </li>
      <li class="l--pad-all-half bg--higher--hover bg--faint reveal">
        <p class="l--float-right txt--neutral l--push-left-half"><i aria-hidden="true" class="i--large i--translate-up" title="Uploaded Translation"></i><span class="is-invisible">Uploaded Translation</span></p>
        <p class="l--push-all-0">You uploaded a translation of <strong>2014 words</strong> to <a href="#">Zanata</a>, finishing on &#8220;<a href="#">If no project type is specified, the type from…</a>&#8221;</p>
        <ul class="list--horizontal txt--meta">
          <li><i aria-hidden="true" class="i i--clock txt--neutral" title="Time"></i><span class="is-invisible">Time</span> 2 hours ago</li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--document txt--neutral" title="Document"></i><span class="is-invisible">Document</span> <a href="#">Messages</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--language txt--neutral" title="Language"></i><span class="is-invisible">Language</span> <a href="#">Japanese</a></li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--version txt--neutral" title="Version"><span class="is-invisible">Version</span></i> <a href="#">3.0</a></li>
        </ul>
      </li>
      <li class="l--pad-all-half bg--higher--hover bg--faint reveal">
        <p class="l--float-right txt--neutral l--push-left-half"><i aria-hidden="true" class="i--large i--maintain" title="Maintenance"></i><span class="is-invisible">Maintenance</span></p>
        <p class="l--push-all-0">You created a <strong><a href="#">new version</a></strong> of <a href="#">Zanata</a>.</p>
        <ul class="list--horizontal txt--meta">
          <li><i aria-hidden="true" class="i i--clock txt--neutral" title="Time"></i><span class="is-invisible">Time</span> 1 day ago</li>
          <li class="reveal__target"><i aria-hidden="true" class="i i--version txt--neutral" title="Version"><span class="is-invisible">Version</span></i> <a href="#">3.0</a></li>
        </ul>
      </li>
      <a href="#" class="d--top loader"><span class="loader__label">more activity</span></a>
    </ul>
  </div>
  <div class="g__item w--1-2 w--6-10-h">
    <div class="g">
      <div class="g__item w--1-2-h l--push-v-1">
        <div class="bg--pop-high">
          <div class="tabs--accent">
            <header class="bg--pop-higher l--pad-all-half">
              <div class="g--tight">
                <div class="g__item w--8-10 w--8-10-s">
                  <h2 class="delta heading--secondary">Maintained Projects</h2>
                </div>
                <div class="g__item w--2-10 w--2-10-s txt--align-right txt--s-align-right">
                  <span class="txt--meta">2 <i aria-hidden="true" class="i i--clipboard" title="Projects"></i></span>
                </div>
              </div>
            </header>
            <ul class="list--no-bullets">
              <li class="bg--faint l--pad-top-half bg--highest--hover progress-bar__expander dropdown__container d--bottom">
                <div class="g--tight l--pad-h-half">
                  <div class="g__item w--3-4 w--3-4-s">
                    <h3 class="epsilon"><a href="#">Zanata</a></h3>
                  </div>
                  <div class="g__item w--1-4 w--1-4-s txt--align-right txt--s-align-right">
                    <ul class=" list--horizontal">
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--network"></i><span class="is-invisible">Translator</span></span>
                      </li>
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--maintain"></i><span class="is-invisible">Maintainer</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="l--pad-h-half l--pad-bottom-half">
                  <div class="dropdown" ng-class="{is-active: is-active}">
                    <div class="dropdown__toggle" href="#" ng-click="is-active=!is-active">
                      <i class="i i--arrow-down dropdown__toggle__icon"></i>
                      <ul class="dropdown__toggle__content list--horizontal ">
                        <li>
                          <a href="new-page.html" title="Version 3.0"><i aria-hidden="true" class="i i--version"></i><span class="is-invisible">Version</span> 3.0</a>
                        </li>
                        <li>
                          <a href="#" title="43 Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 43</a>
                        </li>
                        <li class="l--float-right">
                          <!-- <span class="txt--state-success">73%</span> -->
                        </li>
                      </ul>
                    </div>
                    <ul class="dropdown__content">
                      <li>
                        <ul class="list--horizontal">
                          <li>
                            <a href="#" title="Version"><i aria-hidden="true" class="i i--version"></i><span class="is-invisible">Version</span> 2.6</a>
                          </li>
                          <li>
                            <a href="#" title="Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 35</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown__divider"></li>
                      <li>
                        <span class="txt--meta">Last updated 2 days ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="bg--faint l--pad-top-half bg--highest--hover progress-bar__expander dropdown__container d--bottom">
                <div class="g--tight l--pad-h-half">
                  <div class="g__item w--3-4 w--3-4-s">
                    <h3 class="epsilon"><a href="#">Zanata</a></h3>
                  </div>
                  <div class="g__item w--1-4 w--1-4-s txt--align-right txt--s-align-right">
                    <ul class=" list--horizontal">
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--network"></i><span class="is-invisible">Translator</span></span>
                      </li>
                      <li>
                        <span class="txt--meta"><i aria-hidden="true" class="i i--maintain"></i><span class="is-invisible">Maintainer</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="l--pad-h-half l--pad-bottom-half">
                  <div class="dropdown" ng-class="{is-active: is-active}">
                    <div class="dropdown__toggle" href="#" ng-click="is-active=!is-active">
                      <i class="i i--arrow-down dropdown__toggle__icon"></i>
                      <ul class="dropdown__toggle__content list--horizontal ">
                        <li>
                          <a href="new-page.html" title="Version 3.0"><i aria-hidden="true" class="i i--version"></i><span class="is-invisible">Version</span> 3.0</a>
                        </li>
                        <li>
                          <a href="#" title="43 Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 43</a>
                        </li>
                        <li class="l--float-right">
                          <span class="txt--meta">Read only</span>
                        </li>
                      </ul>
                    </div>
                    <ul class="dropdown__content">
                      <li>
                        <ul class="list--horizontal">
                          <li>
                            <a href="#" title="Version"><i aria-hidden="true" class="i i--version"></i><span class="is-invisible">Version</span> 2.6</a>
                          </li>
                          <li>
                            <a href="#" title="Documents"><i aria-hidden="true" class="i i--document-alt-fill"></i><span class="is-invisible">Documents</span> 35</a>
                          </li>
                          <li>
                            <a href="#" title="Languages"><i aria-hidden="true" class="i i--globe"></i><span class="is-invisible">Languages</span> 13</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown__divider"></li>
                      <li>
                        <span class="txt--meta">Last updated 2 days ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <div class="l--pad-all-half">
              <div class="txt--align-center txt--meta">
                <!-- <p><em>You currently have no maintained projects.</em><br> -->
                <strong>Want more projects?</strong> Find an <a href="#">existing project</a> or <a href="#">create your own</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
      </main>

      <footer role="contentinfo" class="l--push--v-2">
        <div class="l__wrapper">

        </div>
      </footer>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>

