//
// Background Component - Default Settings
// ---------------------------------------
// Change in _settings.scss

$bg-prefix     : "bg"                    !default;
$bg-el         : #{$bg-prefix}#{$el}     !default;
$bg-mod        : #{$bg-prefix}#{$mod}    !default;
$bg-pop-shadow : 0 1px 4px rgba($black, 0.1) !default;

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.#{$bg-mod}faint {
  @extend .is-transition;
  @include opacity(.9);
  &:hover {
    .no-touch & {
      @include opacity(1);
    }
  }
}

// TODO: Fix hover for touch devices
// Use hover for each class so it is not overwritten by other hover classes

.#{$bg-mod}high,
.#{$bg-mod}high:hover,
.#{$bg-mod}high--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-light;
}

.#{$bg-mod}higher,
.#{$bg-mod}higher:hover,
.#{$bg-mod}higher--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-lighter;
}

.#{$bg-mod}highest,
.#{$bg-mod}highest:hover,
.#{$bg-mod}highest--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-lightest;
}

.#{$bg-mod}low,
.#{$bg-mod}low--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 10%);
}

.#{$bg-mod}lower,
.#{$bg-mod}lower--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 25%);
}

.#{$bg-mod}lowest,
.#{$bg-mod}lowest--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 40%);
}

.#{$bg-mod}pop-high {
  @extend .#{$bg-mod}high;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 2;
}

.#{$bg-mod}pop-higher {
  @extend .#{$bg-mod}higher;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 3;
}

.#{$bg-mod}pop-highest {
  @extend .#{$bg-mod}highest;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 4;
}

.#{$bg-mod}primary {
  background-color: $color-primary;
}

}
