//
// Background Component - Default Settings
// ---------------------------------------
// Change in _settings.scss

$bg-prefix     : "bg"                    !default;
$bg-el         : #{$bg-prefix}#{$el}     !default;
$bg-mod        : #{$bg-prefix}#{$mod}    !default;
$bg-pop-shadow : 0 1px 4px rgba($black, 0.1) !default;

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.bg--faint {
  @extend .is-transition;
  @include opacity(.9);
  &:hover {
    .no-touch & {
      @include opacity(1);
    }
  }
}

// TODO: Fix hover for touch devices
// Use hover for each class so it is not overwritten by other hover classes

.bg--high,
.bg--high:hover,
.bg--high--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-light;
}

.bg--higher,
.bg--higher:hover,
.bg--higher--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-lighter;
}

.bg--highest,
.bg--highest:hover,
.bg--highest--hover:hover {
  @extend .is-transition;
  background-color: $color-bg-lightest;
}

.bg--low,
.bg--low--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 10%);
}

.bg--lower,
.bg--lower--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 25%);
}

.bg--lowest,
.bg--lowest--hover:hover {
  @extend .is-transition;
  background-color: darken($color-body-background, 40%);
}

.bg--pop-high {
  @extend .bg--high;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 2;
}

.bg--pop-higher {
  @extend .bg--higher;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 3;
}

.bg--pop-highest {
  @extend .bg--highest;
  @include box-shadow($bg-pop-shadow);
  position: relative;
  z-index: 4;
}

.bg--primary {
  background-color: $color-primary;
}

.bg--danger {
  background-color: tint($color-danger, 80%);
}

.bg--warning {
  background-color: tint($color-warning, 80%);
}

.bg--unsure {
  background-color: tint($color-unsure, 80%);
}

.bg--success {
  background-color: tint($color-success, 80%);
}

.bg--highlight {
  background-color: tint($color-highlight, 80%);
}

.bg--neutral {
  background-color: tint($color-neutral, 80%);
}

}
