// Height

.h--1-2,
.h--1,
.h--1-1-2,
.h--2 {
  vertical-align: middle;
}

.h--1-2 {
  line-height: rhythm(.5) !important;
}

.h--1 {
  line-height: rhythm(1) !important;
}

.h--1-1-2 {
  line-height: rhythm(1.5) !important;
}

.h--2 {
  line-height: rhythm(2) !important;
}
