/*

### Icons

All icons also need the class `.i` added to them.

*/

@font-face {
	font-family: 'Zanata';
	src:url('../fonts/zanata-v2/zanata.eot');
	src:url('../fonts/zanata-v2/zanata.eot?#iefix') format('embedded-opentype'),
		url('../fonts/zanata-v2/zanata.woff') format('woff'),
		url('../fonts/zanata-v2/zanata.ttf') format('truetype'),
		url('../fonts/zanata-v2/zanata.svg#zanata') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icons: list, code, review, language, star, notification, project, document, clock, history, all, maintain, translate, translate-up, users, user, settings, add, edit, cancel, remove, checkmark, arrow-left, arrow-down, arrow-up, arrow-right, star-outline, search, keyboard, comment;

@each $icon in $icons {
/*
<pre><i class="i i--#{$icon}"></i> .i--#{$icon}</pre>
*/
}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.i {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'Zanata';
	line-height: 1em;
	speak: none;
	-webkit-font-smoothing: antialiased;
	// .list--horizontal & {
	// 	margin-top: rhythm(-.12);
	// }
}

.i--large {
	@extend .i;
	@include adjust-font-size-to(20px,1);
}

.i--huge {
	@extend .i;
	@include adjust-font-size-to(24px,1);
}


.i--list:before,
.i--menu:before {
	content: "\f0ac";
}
.i--code:before,
.i--source:before {
	content: "\e000";
}
.i--eye:before,
.i--review:before {
	content: "\e002";
}
.i--globe,
.i--language {
	&:before {
		content: "\e003";
	}
}
.i--star:before {
	content: "\e001";
}
.i--bell:before,
.i--notification:before {
	content: "\e004";
}
.i--clipboard,
.i--project {
	margin-top: rhythm(-.08);
	&:before {
		content: "\e005";
	}
}
.i--document-alt-fill,
.i--document {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e007";
	}
}
.i--clock {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e008";
	}
}
.i--history:before {
	content: "\e009";
}
.i--infinity:before,
.i--all:before {
	content: "\e00a";
}
.i--maintain {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e01c";
	}
}
.i--network:before,
.i--translate:before {
	content: "\e00b";
}
.i--network-up:before,
.i--translate-up:before {
	content: "\e01b";
}
.i--users:before {
	content: "\e00c";
}
.i--user:before {
	content: "\e00e";
}
.i--cog:before,
.i--settings:before {
	content: "\e00f";
}
.i--plus:before,
.i--add:before {
	content: "\e011";
}
.i--pencil:before,
.i--edit:before,
 {
	content: "\e014";
}
.i--cross,
.i--remove,
.i--cancel {
	&:before {
		content: "\e006";
	}
}
.i--checkmark:before {
	content: "\e00d";
}
.i--arrow-left:before {
	content: "\e010";
}
.i--arrow-down:before {
	content: "\e012";
}
.i--arrow-up:before {
	content: "\e013";
}
.i--arrow-right:before {
	content: "\e015";
}
.i--star-2:before,
.i--star-outline:before {
	content: "\e016";
}
.i--search:before {
	content: "\e017";
}
.i--keyboard:before {
	content: "\e018";
}
.i--comment:before {
	content: "\e019";
}
.i--version {
	// margin-top: rhythm(-.12);
	&:before {
		content: "\e01a";
	}
}

}
