/*

### Icons

All icons also need the class `.i` added to them.

*/

@font-face {
	font-family: 'zanata';
	src:url('../fonts/zanata/zanata.eot?tdmqh3');
	src:url('../fonts/zanata/zanata.eot?#iefixtdmqh3') format('embedded-opentype'),
		url('../fonts/zanata/zanata.woff?tdmqh3') format('woff'),
		url('../fonts/zanata/zanata.ttf?tdmqh3') format('truetype'),
		url('../fonts/zanata/zanata.svg?tdmqh3#zanata') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icons: list, code, review, language, star, notification, project, document, clock, history, all, maintain, translate, translate-up, users, user, settings, add, edit, cancel, remove, checkmark, arrow-left, arrow-down, arrow-up, arrow-right, star-outline, search, keyboard, comment;

@each $icon in $icons {
/*
<pre><i class="i i--#{$icon}"></i> .i--#{$icon}</pre>
*/
}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.i {
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	// /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		font-family: 'zanata';
		text-align: center;
	}
}

.i--inline {
	@extend .i;
	&:before {
		line-height: rhythm(1);
	}
}

.i--left {
	@extend .i;
	&:before {
		margin-right: rhythm(.125);
	}
}

.i--right {
	@extend .i;
	&:before {
		margin-left: rhythm(.125);
	}
}

.i--understated {
	@extend .i;
	&:before {
		@extend .txt--understated;
	}
}

.i--small {
	@extend .i;
	@include font-size(14px);
}

.i--large {
	@extend .i;
	@include font-size(20px);
}

.i--huge {
	@extend .i;
	@include font-size(24px);
}

}

/*

#### Icon Item

Use to display icons to the far side of text, either left or right. Usually used in a list.

<ul class="list--no-bullets">
	<li class="i__item--left">Text <i class="i i__item__icon i--export"></i></li>
	<li class="i__item--right">Text <i class="i i__item__icon i--export"></i></li>
	<li>
		<a href="" class="i__item--left">Text <i class="i i__item__icon i--export"></i></a>
	</li>
</ul>

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

%i__item {
	white-space: nowrap;
	.i__item__icon {
		line-height: rhythm(1);
	}
}

.i__item--left {
	@extend %i__item;
	text-align: right;
	padding-left: rhythm(1.5) !important;
	.i__item__icon {
		float: left;
		margin-left: rhythm(-1);
	}
}

.i__item--right {
	@extend %i__item;
	padding-right: rhythm(1.5) !important;
	.i__item__icon {
		float: right;
		margin-right: rhythm(-1);
	}
}

.i__text--right {
	margin-left: rhythm(.125);
}

.i__text--left {
	margin-right: rhythm(.125);
}

.i--list:before,
.i--menu:before {
	content: "\f0ac";
}
.i--code:before,
.i--source:before {
	content: "\e605";
}
.i--eye:before,
.i--review:before {
	content: "\e000";
}
.i--language {
	&:before {
		content: "\e020";
	}
}
.i--star:before {
	content: "\e610";
}
.i--star-2:before,
.i--star-outline:before {
	content: "\e093";
}
.i--bell:before,
.i--notification:before {
	content: "\e006";
}
.i--clipboard,
.i--project {
	// margin-top: rhythm(-.08);
	&:before {
		content: "\e013";
	}
}
.i--document {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e124";
	}
}
.i--clock {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e014";
	}
}
.i--history:before {
	content: "\e60f";
}
.i--infinity:before,
.i--all:before {
	content: "\e027";
}
.i--maintain {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e01c";
	}
}
.i--translate:before {
	content: "\e078";
}

// May need to create a separate icon
.i--translate-up:before {
	content: "\e078";
}
.i--users:before {
	content: "\e60a";
}
.i--user:before {
	content: "\e074";
}
.i--cog:before,
.i--settings:before {
	content: "\e023";
}
.i--plus:before,
.i--add:before {
	content: "\e114";
}
.i--minus:before {
	content: "\e115";
}
.i--pencil:before,
.i--edit:before,
 {
	content: "\e613";
}
.i--cross,
.i--remove,
.i--cancel {
	&:before {
		content: "\e117";
	}
}
.i--circle-cross:before,
.i--circle-cancel:before,
.i--circle-remove:before {
	content: "\e117";
}
.i--tick:before,
.i--checkmark:before {
	content: "\e116";
}
.i--circle-tick:before,
.i--circle-checkmark:before {
	content: "\e00d";
}
.i--chevron-left:before,
.i--arrow-left:before {
	content: "\e606";
}
.i--chevron-down:before,
.i--arrow-down:before {
	content: "\e609";
}
.i--chevron-up:before,
.i--arrow-up:before {
	content: "\e608";
}
.i--chevron-right:before,
.i--arrow-right:before {
	content: "\e607";
}
.i--prev:before {
	content: "\e050";
}
.i--next:before {
	content: "\e057";
}
.i--hide-up:before {
	content: "\e055";
}
.i--hide-down:before {
	content: "\e056";
}
.i--search:before {
	content: "\e036";
}
.i--keyboard:before {
	content: "\f11c";
}
.i--comment:before {
	content: "\e076";
}
.i--version {
	// margin-top: rhythm(-.12);
	&:before {
		content: "\e031";
	}
}
.i--dashboard:before {
	content: "\e611";
}
.i--group:before {
	content: "\e059";
}
.i--book:before,
.i--glossary:before {
	content: "\e030";
}
.i--info:before {
	content: "\e604";
}
.i--help:before {
	content: "\e603";
}
.i--logout:before {
	content: "\e089";
}
.i--archive:before {
	content: "\e121";
}
.i--attach:before {
	content: "\e001";
}
.i--admin:before {
	content: "\e601";
}
.i--notes:before {
	content: "\e609";
}
.i--import:before {
	content: "\e60c";
}
.i--export:before {
	content: "\e60d";
}
.i--upload:before {
	content: "\e60b";
}
.i--download:before {
	content: "\e60e";
}
.i--link:before {
	content: "\e005";
}
.i--external-link:before {
	content: "\e128";
}
.i--lock:before {
	content: "\e007";
}
.i--unlock:before {
	content: "\e008";
}
.i--ellipsis:before {
	content: "\e129";
}
.i--filter:before {
	content: "\e614";
}
.i--location:before {
	content: "\e600";
}

.i--delete:before,
.i--trash:before {
	content: "\e109";
}
.i--dot:before {
	content: "\e627"
}
.i--dot-empty:before {
	content: "\e049"
}
.i--suggestion:before {
	content: "\e612"
}
.i--mail:before {
	content: "\e002"
}
.i--copy:before {
	content: "\e035"
}
.i--refresh:before,
.i--update:before {
	content: "\e080"
}
.i--stats:before {
	content: "\e090"
}
.i--block:before {
	content: "\e107"
}

}
