/*

### Icons

All icons also need the class `.i` added to them.

*/

@font-face {
	font-family: 'Zanata';
	src:url('../fonts/zanata-v4/zanata.eot');
	src:url('../fonts/zanata-v4/zanata.eot?#iefix') format('embedded-opentype'),
		url('../fonts/zanata-v4/zanata.woff') format('woff'),
		url('../fonts/zanata-v4/zanata.ttf') format('truetype'),
		url('../fonts/zanata-v4/zanata.svg#zanata') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icons: list, code, review, language, star, notification, project, document, clock, history, all, maintain, translate, translate-up, users, user, settings, add, edit, cancel, remove, checkmark, arrow-left, arrow-down, arrow-up, arrow-right, star-outline, search, keyboard, comment;

@each $icon in $icons {
/*
<pre><i class="i i--#{$icon}"></i> .i--#{$icon}</pre>
*/
}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.i {
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-family: 'Zanata';
		text-align: center;
	}
}

.i--inline {
	@extend .i;
	&:before {
		line-height: rhythm(1);
	}
}

.i--left {
	@extend .i;
	&:before {
		margin-right: rhythm(.125);
	}
}

.i--right {
	@extend .i;
	&:before {
		margin-left: rhythm(.125);
	}
}

.i--understated {
	@extend .i;
	&:before {
		@extend .txt--understated;
	}
}

.i--small {
	@extend .i;
	&:before {
		@include font-size(14px);
	}
}

.i--large {
	@extend .i;
	&:before {
		@include font-size(20px);
	}
}

.i--huge {
	@extend .i;
	&:before {
		@include font-size(24px);
	}
}

}

/*

#### Icon Item

Use to display icons to the far side of text, either left or right. Usually used in a list.

<ul class="list--no-bullets">
	<li class="i__item--left">Text <i class="i i__item__icon i--export"></i></li>
	<li class="i__item--right">Text <i class="i i__item__icon i--export"></i></li>
	<li>
		<a href="" class="i__item--left">Text <i class="i i__item__icon i--export"></i></a>
	</li>
</ul>

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

%i__item {
	white-space: nowrap;
	.i__item__icon {
		line-height: rhythm(1);
	}
}

.i__item--left {
	@extend %i__item;
	text-align: right;
	padding-left: rhythm(1.5) !important;
	.i__item__icon {
		float: left;
		margin-left: rhythm(-1);
	}
}

.i__item--right {
	@extend %i__item;
	padding-right: rhythm(1.5) !important;
	.i__item__icon {
		float: right;
		margin-right: rhythm(-1);
	}
}

.i__text--right {
	margin-left: rhythm(.125);
}

.i__text--left {
	margin-right: rhythm(.125);
}

.i--list:before,
.i--menu:before {
	content: "\f0ac";
}
.i--code:before,
.i--source:before {
	content: "\e000";
}
.i--eye:before,
.i--review:before {
	content: "\e002";
}
.i--globe,
.i--language {
	&:before {
		content: "\e003";
	}
}
.i--star:before {
	content: "\e001";
}
.i--bell:before,
.i--notification:before {
	content: "\e004";
}
.i--clipboard,
.i--project {
	// margin-top: rhythm(-.08);
	&:before {
		content: "\e005";
	}
}
.i--document-alt-fill,
.i--document {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e007";
	}
}
.i--clock {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e008";
	}
}
.i--history:before {
	content: "\e009";
}
.i--infinity:before,
.i--all:before {
	content: "\e00a";
}
.i--maintain {
	// margin-top: rhythm(-.06);
	&:before {
		content: "\e01c";
	}
}
.i--network:before,
.i--translate:before {
	content: "\e00b";
}
.i--network-up:before,
.i--translate-up:before {
	content: "\e01b";
}
.i--users:before {
	content: "\e00c";
}
.i--user:before {
	content: "\e00e";
}
.i--cog:before,
.i--settings:before {
	content: "\e00f";
}
.i--plus:before,
.i--add:before {
	content: "\e011";
}
.i--pencil:before,
.i--edit:before,
 {
	content: "\e014";
}
.i--cross,
.i--remove,
.i--cancel {
	&:before {
		content: "\e006";
	}
}
.i--checkmark:before {
	content: "\e00d";
}
.i--arrow-left:before {
	content: "\e010";
}
.i--arrow-down:before {
	content: "\e012";
}
.i--arrow-up:before {
	content: "\e013";
}
.i--arrow-right:before {
	content: "\e015";
}
.i--star-2:before,
.i--star-outline:before {
	content: "\e016";
}
.i--search:before {
	content: "\e017";
}
.i--keyboard:before {
	content: "\e018";
}
.i--comment:before {
	content: "\e019";
}
.i--version {
	// margin-top: rhythm(-.12);
	&:before {
		content: "\e01a";
	}
}
.i--dashboard:before {
	content: "\e600";
}
.i--group:before {
	content: "\e601";
}
.i--glossary:before {
	content: "\e602";
}
.i--info:before {
	content: "\e603";
}
.i--help:before {
	content: "\e604";
}
.i--logout:before {
	content: "\e605";
}
.i--archive:before {
	content: "\e606";
}
.i--attach:before {
	content: "\e607";
}
.i--admin:before {
	content: "\e608";
}
.i--notes:before {
	content: "\e609";
}
.i--import:before {
	content: "\e60a";
}
.i--export:before {
	content: "\e60f";
}
.i--external-link:before {
	content: "\e60b";
}
.i--lock:before {
	content: "\e60d";
}
.i--unlock:before {
	content: "\e60e";
}
.i--ellipsis:before {
	content: "\e60c";
}

}
