// TODO: Remove namespacing when old zanata removed
.new-zanata {

.is-hidden {
  display: none !important;
}

@include breakpoint($lte-small) {
  .is-hidden--s {
    display: none !important;
  }
}

@include breakpoint($e-medium) {
  .is-hidden--m {
    display: none !important;
  }
}

@include breakpoint($lte-medium) {
  .is-hidden--m-down {
    display: none !important;
  }
}

@include breakpoint($gte-medium) {
  .is-hidden--m-up {
    display: none !important;
  }
}

@include breakpoint($lt-m-l) {
  .is-hidden--m-l-down {
    display: none !important;
  }
}

@include breakpoint($gte-m-l) {
  .is-hidden--m-l-up {
    display: none !important;
  }
}

@include breakpoint($e-large) {
  .is-hidden--l {
    display: none !important;
  }
}

@include breakpoint($gte-large) {
  .is-hidden--l-up {
    display: none !important;
  }
}

@include breakpoint($gte-huge) {
  .is-hidden--h {
    display: none !important;
  }
}

.is-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.is-transition {
  @include transition($default-transition);
  // @include backface-visibility(hidden);
}

.is-transition-fast {
  @include transition($transition-fast-ease);
  // @include backface-visibility(hidden);
}

.is-transition-bounce {
  @include transition($transition-bounce-ease);
  // @include backface-visibility(hidden);
}

.is-removed {
  @extend .is-transition;
  @include opacity(0);
  @include transform(scale3d(1,0,1));
}

}
