/*

### Text Modifiers

#### Text Transforms

```
<p class="txt--lowercase">Lowercase</p>
<p class="txt--uppercase">Uppercase</p>
<p class="txt--capitalize">capitalize</p>
```

#### Text Alignment

```
<p class="txt--align-left">Align Left</p>
<p class="txt--align-right">Align Right</p>
<p class="txt--align-center">Align Center</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--lowercase {
  text-transform: lowercase;
}

.txt--uppercase {
  text-transform: uppercase;
}

.txt--capitalize {
  text-transform: capitalize;
}

@include breakpoint($lte-small) {
  .txt--align-left-s,
  .txt--s-align-left {
    text-align: left;
  }

  .txt--align-right-s,
  .txt--s-align-right {
    text-align: right;
  }

  .txt--align-center-s,
  .txt--s-align-center {
    text-align: center;
  }
}

@include breakpoint($gte-medium) {
  .txt--align-left {
    text-align: left;
  }

  .txt--align-right {
    text-align: right;
  }

  .txt--align-center {
    text-align: center;
  }
}

}

/*

#### Text Invert

```
<p class="txt--invert">Invert text with <a href="#">a link</a></p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--invert {
  $invert-base-font: contrast-color($color-base-font);
  color: $invert-base-font;
  a {
    color: darken($invert-base-font, 15%) !important;
    &:hover {
      color: lighten($invert-base-font, 10%) !important;
    }
    &:active,
    &.is-active {
      color: lighten($invert-base-font, 15%) !important;
    }
  }
}

}

/*

#### Text Lead

```
<p class="txt--lead">Lead text</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--lead {
  @include adjust-font-size-to(20px);
  font-weight: 300;
  strong {
    font-weight: 600;
  }
}

}

/*

#### Text Hero

```
<p class="txt--hero">Hero text</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--hero {
  @include adjust-font-size-to(24px);
  font-weight: 300;
  strong {
    font-weight: 600;
  }
  @include breakpoint($gte-medium) {
    @include adjust-font-size-to(28px);
  }
}

}

/*

#### Text Mini

```
<p class="txt--mini">Mini text</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--mini {
  @include adjust-font-size-to(14px);
}

}

/*

#### Text Meta

```
<p class="txt--meta">Meta text</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--meta {
  @include adjust-font-size-to(14px);
  color: $color-secondary-70;
}

}

/*

#### Text Understated

```
<p class="txt--understated">Understated text</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--understated {
  color: $color-secondary-70;
}

}

/*

#### Text Important

<p class="txt--important">Important</p>

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--important {
  font-weight: 700;
}

}

/*

#### Text States

```
<p class="txt--highlight">State Highlight</p>
<p class="txt--success">State Success</p>
<p class="txt--unsure">State Unsure</p>
<p class="txt--warning">State Warning</p>
<p class="txt--danger">State Danger</p>
<p class="txt--neutral">State Neutral</p>
```

*/

// TODO: Remove namespacing when old zanata removed
.new-zanata {

.txt--highlight,
.txt--state-highlight {
  color: $color-highlight !important;
}

.txt--success,
.txt--state-success {
  color: $color-success !important;
}

.txt--unsure,
.txt--state-unsure {
  color: $color-unsure !important;
}

.txt--warning,
.txt--state-warning {
  color: $color-warning !important;
}

.txt--danger,
.txt--state-danger,
.txt--required {
  color: $color-danger !important;
}

.txt--neutral,
.txt--state-neutral {
  color: $color-neutral !important;
}

}
