//
// Setup for widths

@mixin width-setup($namespace: "") {
  .w--1#{$namespace} {
    width: 100% !important;
  }

  .w--1-2#{$namespace} {
    width: 50% !important;
  }

  .w--1-3#{$namespace} {
    width: 33.333% !important;
  }
  .w--2-3#{$namespace} {
    width: 66.666% !important;
  }

  .w--1-4#{$namespace} {
    width: 25% !important;
  }
  .w--2-4#{$namespace} {
    @extend .w--1-2#{$namespace};
  }
  .w--3-4#{$namespace} {
    width: 75% !important;
  }

  .w--1-5#{$namespace} {
    width: 20% !important;
  }
  .w--2-5#{$namespace} {
    width: 40% !important;
  }
  .w--3-5#{$namespace} {
    width: 60% !important;
  }
  .w--4-5#{$namespace} {
    width: 80% !important;
  }

  .w--1-6#{$namespace} {
    width: 16.666% !important;
  }
  .w--2-6#{$namespace} {
    @extend .w--1-3#{$namespace};
  }
  .w--3-6#{$namespace} {
    @extend .w--1-2#{$namespace};
  }
  .w--4-6#{$namespace} {
    @extend .w--2-3#{$namespace};
  }
  .w--5-6#{$namespace} {
    width: 83.333% !important;
  }

  .w--1-8#{$namespace} {
    width: 12.5% !important;
  }
  .w--2-8#{$namespace} {
    @extend .w--1-4#{$namespace};
  }
  .w--3-8#{$namespace} {
    width: 37.5% !important;
  }
  .w--4-8#{$namespace} {
    @extend .w--1-2#{$namespace};
  }
  .w--5-8#{$namespace} {
    width: 62.5% !important;
  }
  .w--6-8#{$namespace} {
    @extend .w--3-4#{$namespace};
  }
  .w--7-8#{$namespace} {
    width: 87.5% !important;
  }


  .w--1-10#{$namespace} {
    width: 10% !important;
  }
  .w--2-10#{$namespace} {
    @extend .w--1-5#{$namespace};
  }
  .w--3-10#{$namespace} {
    width: 30% !important;
  }
  .w--4-10#{$namespace} {
    @extend .w--2-5#{$namespace};
  }
  .w--5-10#{$namespace} {
    @extend .w--1-2#{$namespace};
  }
  .w--6-10#{$namespace} {
    @extend .w--3-5#{$namespace};
  }
  .w--7-10#{$namespace} {
    width: 70% !important;
  }
  .w--8-10#{$namespace} {
    @extend .w--4-5#{$namespace};
  }
  .w--9-10#{$namespace} {
    width: 90% !important;
  }

  .w--1-12#{$namespace} {
    width: 8.333% !important;
  }
  .w--2-12#{$namespace} {
    @extend .w--1-6#{$namespace};
  }
  .w--3-12#{$namespace} {
    @extend .w--1-4#{$namespace};
  }
  .w--4-12#{$namespace} {
    @extend .w--1-3#{$namespace};
  }
  .w--5-12#{$namespace} {
    width: 41.666% !important;
  }
  .w--6-12#{$namespace} {
    @extend .w--1-2#{$namespace};
  }
  .w--7-12#{$namespace} {
    width: 58.333% !important;
  }
  .w--8-12#{$namespace} {
    @extend .w--2-3#{$namespace};
  }
  .w--9-12#{$namespace} {
    @extend .w--3-4#{$namespace};
  }
  .w--10-12#{$namespace} {
    @extend .w--5-6#{$namespace};
  }
  .w--11-12#{$namespace} {
    width: 91.666% !important;
  }
}

// TODO: Remove namespacing when old zanata removed
.new-zanata {

// Apply Global Widths - Don't apply to small
@include breakpoint($gte-medium) {
  @include width-setup;
}

// Small Only Widths
@include breakpoint($lte-small) {
  @include width-setup('-s');
}

// Medium Only Widths
@include breakpoint($e-medium) {
  @include width-setup('-m');
}

// Large Only Widths
@include breakpoint($e-large) {
  @include width-setup('-l');
}

// Huge and up Widths
@include breakpoint($gte-huge) {
  @include width-setup('-h');
}

.w--r-1-2 {
  width: rhythm(.5);
}

.w--r-1 {
  width: rhythm(1);
}

.w--r-2 {
  width: rhythm(2);
}

}
