---
title: Mortal Kombat | Projects | Zanata
layout: home
root: "../../"
activeTab: "Versions"
---

<div class="g">
  {% include project-sidebar.html %}
  {% include project-nav.html %}
      <div class="tabs__content panels__container l--push-top-1">
        <div class="panel">
          <div class="panel__header">
            <div class="panel__header__actions">
              <div class="dropdown dropdown--header dropdown--small dropdown--right dropdown--inline js-dropdown">
                <a class="dropdown__toggle js-dropdown__toggle" href="#">Sort</a>
                <ul class="dropdown__content js-dropdown__content" role="content" aria-labelledby="dropdownContent">
                  <li><a class="is-active" tabindex="-1" href="#">Percent Translated</a></li>
                  <li><a tabindex="-1" href="#">Hours Remaining</a></li>
                  <li><a tabindex="-1" href="#">Messages Remaining</a></li>
                  <li><a tabindex="-1" href="#">Words Remaining</a></li>
                  <li><a tabindex="-1" href="#">Last Updated</a></li>
                  <li><a tabindex="-1" href="#">Last Translated</a></li>
                  <li><a tabindex="-1" href="#">Alphabetically</a></li>
                </ul>
              </div>
              <div class="dropdown dropdown--header dropdown--small dropdown--right dropdown--inline js-dropdown">
                <a class="dropdown__toggle js-dropdown__toggle" href="#" title="More Actions"><i class="i i--ellipsis"></i></a>
                <ul class="dropdown__content js-dropdown__content" role="content" aria-labelledby="dropdownContent">
                  <li><a href="#"class="i__item--right">New Version <i class="i i--plus i__item__icon"></i></a></li>
                </ul>
              </div>
            </div>
            <h2 class="panel__heading">Versions</h2>
          </div>
          <div class="panel__sub-header">
            <div class="panel__results">
              <div class="panel__results__type">
                <i class="i i--version txt--neutral"></i>
              </div>
              <span class="txt--meta"><strong>3</strong> of 3</span>
            </div>
          </div>
          <ul class="list--stats">
            <li class="progress-bar__expander list__item--actionable">
              <div class="list__item__action">
                <div class="dropdown dropdown--small dropdown--inline dropdown--single list__item__dropdown js-dropdown">
                  <a class="dropdown__toggle js-dropdown__toggle txt--meta" title="Translate Options" href="#"><span class="is-invisible">Translate Options</span></a>
                  <ul class="dropdown__content js-dropdown__content">
                    <li><a href="#"class="i__item--right">Translate in Spanish <i class="i i--translate i__item__icon"></i></a></li>
                    <li><a href="#" class="i__item--right">Translate in Italian<i class="i i--translate i__item__icon"></i></a></li>
                    <li><a href="#" class="i__item--right">Export Version to TMX<i class="i i--export i__item__icon"></i></a></li>
                  </ul>
                </div>
              </div>
              <a href="master">
                <div class="list__item__content">
                  <div class="list__item__info">
                    <h3 class="list__title">master <span class="label--highlight">Latest</span></h3>
                  </div>
                  <div class="list__item__stats">
                    <span class="stats--small txt--state-neutral">
                      <span class="stats__figure">0%</span>
                      <span class="stats__unit">translated</span>
                    </span>
                  </div>
                </div>
                <div class="progress-bar">
                  <span class="progress-bar__item" title="100% Untranslated, 126000 Words"></span>
                </div>
              </a>
            </li>
            <li class="progress-bar__expander list__item--actionable">
              <div class="list__item__action">
                <div class="dropdown dropdown--small dropdown--inline dropdown--single list__item__dropdown js-dropdown">
                  <a class="dropdown__toggle js-dropdown__toggle txt--meta" title="Translate Options" href="#"><span class="is-invisible">Translate Options</span></a>
                  <ul class="dropdown__content js-dropdown__content">
                    <li><a href="#"class="i__item--right">Spanish <i class="i i--language i__item__icon"></i></a></li>
                    <li><a href="#" class="i__item--right">Export Version to TMX<i class="i i--export i__item__icon"></i></a></li>
                  </ul>
                </div>
              </div>
              <a href="#">
                <div class="list__item__content">
                  <div class="list__item__info">
                    <h3 class="list__title">2.0</h3>
                  </div>
                  <div class="list__item__stats">
                    <span class="stats--small txt--state-neutral">
                      <span class="stats__figure">0%</span>
                      <span class="stats__unit">translated</span>
                    </span>
                  </div>
                </div>
                <div class="progress-bar">
                  <span class="progress-bar__item" title="100% Untranslated, 126000 Words"></span>
                </div>
              </a>
            </li>
            <li class="progress-bar__expander list__item--actionable">
              <div class="list__item__action">
                <div class="dropdown dropdown--small dropdown--inline dropdown--single list__item__dropdown js-dropdown">
                  <a class="dropdown__toggle js-dropdown__toggle txt--meta" title="Translate Options" href="#"><span class="is-invisible">Translate Options</span></a>
                  <ul class="dropdown__content js-dropdown__content">
                    <li><a href="#"class="i__item--right">Translate in Spanish <i class="i i--translate i__item__icon"></i></a></li>
                    <li><a href="#" class="i__item--right">Translate in Italian<i class="i i--translate i__item__icon"></i></a></li>
                    <li><a href="#" class="i__item--right">Export Version to TMX<i class="i i--export i__item__icon"></i></a></li>
                  </ul>
                </div>
              </div>
              <a href="#">
                <div class="list__item__content">
                  <div class="list__item__info">
                    <h3 class="list__title">1.0</h3>
                  </div>
                  <div class="list__item__stats">
                    <span class="stats--small txt--state-success">
                      <span class="stats__figure">23%</span>
                      <span class="stats__unit">translated</span>
                    </span>
                  </div>
                </div>
                <div class="progress-bar">
                  <span class="progress-bar__item" style="margin-left: 23%; width: 77%;" title="77% Untranslated, 97020 Words"></span>
                  <span class="progress-bar__translated" style="width: 23%" title="23% Translated, 28980 Words"></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
