//
// Project settings
// ================

//
// Base Variables
// ==============

//
// Guidelines
// ----------
//
// Based on BEM and [these guidelines](https://github.com/csswizardry/CSS-Guidelines)

$modifier                          : "--";
$element                           : "__";

// Aliases
$mod                               : $modifier;
$el                                : $element;

//
// Fonts
// -----

$font-serif                        : Georgia, "Times New Roman", Times, serif;
$font-sans-serif                   : "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$font-monospace                    : Monaco, Courier, monospace;

//
// Colors
// ------

// Set some default color variables to keep things consistent

$white                             : #fff;
$black                             : #000;
$lightest-grey                     : lighten($black, 95);
$lighter-grey                      : lighten($black, 90);
$light-grey                        : lighten($black, 80);
$lightish-grey                     : lighten($black, 70);
$grey                              : lighten($black, 50);
$darkish-grey                      : lighten($black, 30);
$dark-grey                         : lighten($black, 20);
$darker-grey                       : lighten($black, 10);
$darkest-grey                      : lighten($black, 5);

//
// Transitions
// -----------

$transition-bounce-ease: 0.25s cubic-bezier(.55,-0.38,.22,1.01);
$transition-fast-ease: 0.1s cubic-bezier(.26, .47, .36, .94);

//
// Theme - Global Variables
// ========================

//
// Colors Global
// -------------

$color-primary                     : #4e9fdd;
$color-secondary                   : #416988;

$color-primary-80                  : #76b4e4;
$color-primary-70                  : #87bee7;
$color-primary-50                  : #a8d0ee;
$color-primary-30                  : #cce2f5;
$color-primary-20                  : #dcecf7;

$color-secondary-70                : #7c96ac;
$color-secondary-50                : #a2b4c3;
$color-secondary-30                : #c6d2db;
$color-secondary-20                : #d9e1e7;
$color-secondary-10                : #ecf0f3;

$color-bg                          : shade(#f0f2f4, 1%);
$color-bg-lightest                 : $white;
$color-bg-lighter                  : tint($color-bg, 93%);
$color-bg-light                    : tint($color-bg, 46%);
$color-bg-dark                     : shade($color-bg, 3%);
$color-bg-darker                   : shade($color-bg, 6%);
$color-bg-darkest                  : shade($color-bg, 9%);

$color-highlight                   : $color-primary;
$color-success                     : #70a98b;
$color-unsure                      : #e0c350;
$color-warning                     : #e3824e;
$color-danger                      : #e0575b;
$color-neutral                     : $color-secondary-30;

$color-base-font                   : #444c54;
$color-heading                     : $color-secondary;
$color-body-background             : $color-bg;
$color-link                        : $color-primary;
$color-link-hover                  : darken($color-link, 15);
$color-link-active                 : $color-secondary;

//
// Font Global
// -----------

// Base font size and line height set in - Compass - Vertical Rhythm

$font-family-base                  : 'Source Sans Pro', $font-sans-serif;
$font-family-heading               : 'Source Sans Pro', $font-sans-serif;

//
// CSS3 Defaults
// -------------

$default-border-color              : rgba($color-secondary, .15);
$default-border                    : 1px solid $default-border-color;
$default-border-radius             : 2px;
$default-box-shadow                : 0 1px 2px rgba($black, 0.1);
$default-box-shadow-inset          : inset 0 1px 2px rgba($black, 0.1);
$default-text-shadow               : 0 1px 2px rgba($black, 0.1);
$default-transition                : 0.2s cubic-bezier(.26, .47, .36, .94);

//
// Vendor Variables
// ================

//
// Compass - Vertical Rhythm
// -------------------------

$base-font-size                    : 16px; //? Makes the font size usable by some compass mixins (it needs px)
$base-line-height                  : 26px; //? The measurement for vertical rhythm, converts to ems
$font-unit                         : 1em;
$relative-font-sizing              : true;
$round-to-nearest-half-line        : true; //? eg. if line-height is 24px, it's allowed to make it 12px if needed

$medium-font-size                  : 16px;
$large-font-size                   : 16px;
$huge-font-size                    : 18px;

//
// Compass - Color
// ---------------
//
// See compass-style.org for details

$contrasted-dark-default           : $color-base-font;
$contrasted-light-default          : $color-bg;
$contrasted-lightness-threshold    : 60%;

//
// Breakpoint - default settings
// -----------------------------
//
// Using [Compass Breakpoint plug-in](https://github.com/canarymason/breakpoint)

$breakpoint-default-media          : 'all' !default;
$breakpoint-default-feature        : 'min-width' !default;
$breakpoint-default-pair           : 'width' !default;
$breakpoint-to-ems                 : true;
$breakpoint-prefixes               : 'webkit' 'moz' !default;
$breakpoint-prefixed-queries       : 'device-pixel-ratio' 'min-device-pixel-ratio' 'max-device-pixel-ratio' !default;
$breakpoint-no-queries             : false !default; //? Only true in style-old-ie.scss
$breakpoint-no-query-wrappers      : false !default;

$breakpoint-base-font-size         : false;

//
// Breakpoint - mobile first breakpoints values
// --------------------------------------------

// - Set the min width values
// - These should not be left the same, adapt them to content

$breakpoint-small                  : 0;
$breakpoint-medium                 : 740px;
$breakpoint-m-l                    : 930px;
$breakpoint-large                  : 1270px;
$breakpoint-huge                   : 1540px;
$breakpoint-hi-res                 : 2 device-pixel-ratio;
$breakpoint-portrait               : orientation portrait;
$breakpoint-landscape              : orientation landscape;
$breakpoint-monochrome             : monochrome;
$breakpoint-print                  : print;

//
// Breakpoint - specific breakpoints
// ---------------------------------

// - Derived from breakpoint values, also written shorthand.
// - Use `, 'no-query' true` if you want the styles from this breakpoint to be applied to ie8 and older

$lte-small                         : max-width ($breakpoint-medium - 1px);
$lte-medium                        : max-width ($breakpoint-large - 1px);
$lt-m-l                            : max-width ($breakpoint-m-l - 1px);
$lte-large                         : max-width ($breakpoint-huge - 1px), 'no-query' true;
$e-medium                          : $breakpoint-medium ($breakpoint-large - 1px);
$e-large                           : $breakpoint-large ($breakpoint-huge - 1px), 'no-query' true;
$gte-small                         : $breakpoint-small, 'no-query' true;
$gte-medium                        : $breakpoint-medium, 'no-query' true;
$gte-m-l                           : $breakpoint-m-l, 'no-query' true;
$gte-large                         : $breakpoint-large, 'no-query' true;
$gte-huge                          : $breakpoint-huge;
$high-res                          : $breakpoint-hi-res;
$portrait                          : $breakpoint-portrait;
$landscape                         : $breakpoint-landscape;
$mono                              : $breakpoint-monochrome;
$print                             : $breakpoint-print;

//
// Theme - Element Variables
// =========================

//
// Forms Element
// -------------

// Form spacing/measurments written in vertical rhythm (eg. .5 is half a vertical rhtyhm)

$form-spacing                      : .5;
$form-font-size                    : $base-font-size;
$form-border-radius                : $default-border-radius;
$form-font                         : $font-family-base;
$form-label-font-size              : $form-font-size;
$form-label-color                  : $color-base-font;
$form-label-weight                 : 600;
$form-input-font-size              : $form-font-size;
$form-input-background-color       : $color-bg-lighter;
$form-input-color                  : $dark-grey;
$form-input-border-color           : $color-secondary-30;
$form-input-box-shadow-inset       : $default-box-shadow-inset;
$form-input-focus-background-color : $color-bg-lightest;
$form-input-focus-border-color     : $color-secondary-70;
$form-fieldset-border-color        : $color-secondary-20;
$form-legend-weight                : 600;

//
// Theme - Global Component Variables
// ==================================

//
// Layout Component
// ----------------

$layout-prefix                     : "l";
$layout-mod                        : "#{$layout-prefix}#{$mod}";
$layout-el                         : "#{$layout-prefix}#{$el}";
$layout-wrapper-max-width          : 120em;
$layout-wrapper-min-ie-width       : 44em; // NOTE: old ie only
$layout-spacing-increments         : 0 0.25 0.5 1 2;
$layout-spacing-increment-names    : 0 "quarter" "half" 1 2;
$layout-spacing-sides              : top bottom left right;

//
// Grid Component
// --------------

$grid-prefix                       : "g";
$grid-mod                          : "#{$grid-prefix}#{$mod}";
$grid-el                           : "#{$grid-prefix}#{$el}";
$grid-padding                      : rhythm(2);

//
// Width Component
// ---------------

$width-prefix                      : "w";
$width-mod                         : "#{$width-prefix}#{$mod}";


//
// Theme - Component Variables
// ===========================

// Comment out if changing. Add new component settings here.

//
// Placeholder Component
// ---------------------

$placeholder-prefix                : "ph";
$placeholder-mod                   : #{$placeholder-prefix}#{$mod};
$placeholder-el                    : #{$placeholder-prefix}#{$el};

$placeholder-font                  : (font-family-base, $font-family-base),
                                     (font-family-heading, $font-family-heading);
$placeholder-color                 : (color-primary, $color-primary),
                                     (color-secondary, $color-secondary),
                                     (color-base-font, $color-base-font);

//
// Lists Component
// ---------------

// $list-prefix                       : "list";
// $list-el                           : #{$list-prefix}#{$el};
// $list-mod                          : #{$list-prefix}#{$mod};

//
// Accent Component
// ------------------

// $accent-prefix                      : "accent";
// $accent-el                          : #{$accent-prefix}#{$el};
// $accent-mod                         : #{$accent-prefix}#{$mod};
// $accent-pop-shadow                  : 0 1px 1px rgba($black, 0.1);

//
// Off Canvas Component
// --------------------

// $offcanvas-outer-bg-color           : $color-base-font;
// $offcanvas-inner-bg-color           : $color-bg;
// $offcanvas-target-width             : 10;
